<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
            <h1 class="page-title">Sports</h1>
            <ul>
                <li><a class="active" href="#" routerLink="/">Home</a></li>
                <li>Sports</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End--> 

<!-- Sports Section Start -->
<section id="sports" class="schedule section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">List of Events</h2>
                <p class="wow fadeInDown" data-wow-delay="0.2s"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
                    <div class="schedule-tab-content col-12 clearfix">

                        <div id="accordion">
                            <div class="card">
                                <div id="headingOne">
                                <div class="schedule-slot-time p26">1</div>
                                <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><h4>General</h4></div>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="text-danger"> 
                                        let's upload uni brochure here and rule book. -will share early next week
as for sports, by the website launch we will only have the list of sports, no details. So let’s just keep it this way and we will add more info once we have it. Will provide list of sports by Monday the latest (unless Minoru sends it to you directly)
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingTwo">
                                <div class="schedule-slot-time p26">2</div>
                                <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><h4>Football</h4></div>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p> 
                                        - Rules and regulations <br>
                                        - teams, fixtures  <br>
                                        - frequently asked questions  <br>
                                        - pictures and graphics                                 
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingThree">
                                    <div class="schedule-slot-time p26">3</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><h4>Basketball</h4></div>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                    <p> 
                                        - Rules and regulations <br>
                                        - teams, fixtures  <br>
                                        - frequently asked questions  <br>
                                        - pictures and graphics                                 
                                    </p>         
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingFour">
                                    <div class="schedule-slot-time p26">4</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><h4>Rugby</h4></div>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body">
                                    <p> 
                                        - Rules and regulations <br>
                                        - teams, fixtures  <br>
                                        - frequently asked questions  <br>
                                        - pictures and graphics                                 
                                    </p>        
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingFive">
                                    <div class="schedule-slot-time p26">5</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><h4>Cricket</h4></div>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <div class="card-body">
                                    <p> 
                                        - Rules and regulations <br>
                                        - teams, fixtures  <br>
                                        - frequently asked questions  <br>
                                        - pictures and graphics                                 
                                    </p>         
                                </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sports Section End -->
