<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
                <h1 class="page-title">Sports</h1>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End--> 

<!-- Sports Section Start -->
<section id="sports" class="schedule sportsPage section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Sports and Activities</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
                    <div class="schedule-tab-content col-12 clearfix">

                        <div class="row sportsCard">
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-babyfoot-foosball"></i> </span>
                                      <h5 class="card-title">Babyfoot / Foosball</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-badminton"></i> </span>
                                      <h5 class="card-title">Badminton</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-basketball"></i> </span>
                                      <h5 class="card-title">Basketball</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-beach-volley-ball"></i> </span>
                                      <h5 class="card-title">Beach Volley ball</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-chess"></i> </span>
                                      <h5 class="card-title">Chess</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-cricket"></i> </span>
                                      <h5 class="card-title">Cricket</h5>                              
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-cross-country"></i> </span>
                                      <h5 class="card-title">Cross Country</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-e-sport"></i> </span>
                                      <h5 class="card-title">E-Sport <small>( Fifa, Dota & Counter Strike )</small></h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-extreme-dodgeball"></i> </span>
                                      <h5 class="card-title">Extreme Dodgeball</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-football"></i> </span>
                                      <h5 class="card-title">Football</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-paintball"></i> </span>
                                      <h5 class="card-title">Paintball </h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-petanque"></i> </span>
                                      <h5 class="card-title">Petanque</h5>                              
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-poker"></i> </span>
                                      <h5 class="card-title">Poker</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-rock-climbing"></i> </span>
                                      <h5 class="card-title">Rock Climbing</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-rowing"></i> </span>
                                      <h5 class="card-title">Rowing</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-swimming"></i> </span>
                                      <h5 class="card-title">Swimming</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-table-tennis"></i> </span>
                                      <h5 class="card-title">Table Tennis</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-tennis"></i> </span>
                                      <h5 class="card-title">Tennis</h5>                              
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-touch-rugby-7s-rugby"></i> </span>
                                      <h5 class="card-title">Touch Rugby / 7s Rugby</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-track"></i>   </span>
                                      <h5 class="card-title">Track</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-ultimate-frisbee"></i> </span>
                                      <h5 class="card-title">Ultimate Frisbee</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-yoga"></i> </span>
                                      <h5 class="card-title">Yoga</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-billiards"></i> </span>
                                      <h5 class="card-title">Billiards</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-lazer-tag"></i> </span>
                                      <h5 class="card-title">Lazer Tag</h5>                              
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-bubble-soccer"></i> </span>
                                      <h5 class="card-title">Bubble Soccer</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-beer-pong"></i> </span>
                                      <h5 class="card-title">Beer Pong</h5>                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-3 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body">
                                      <span class="p-2"> <i class="sicon-spike-ball"></i>  </span>
                                      <h5 class="card-title">Spike Ball</h5>                              
                                    </div>
                                </div>
                            </div>
                            
                        </div>                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sports Section End -->
