<!-- Hero Area Start -->
<div id="hero-area" class="hero-area-bg">
  <div class="overlay"></div>
  
  <!-- <video id="bgvid" class="stop stopfade" src="./assets/videos/MBAT_short.mp4" type='video/mp4' controls autoplay preload loop playsinline>
    <source src="./assets/videos/MBAT_short.mp4" type="video/mp4">
    <source src="./assets/videos/MBAT_short.webm" type="video/webm">
  </video> -->

  <!-- <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/TWfisqV8Dfo?controls=0&mute=1&showinfo=0&rel=0&autoplay=1&loop=1&playlist=TWfisqV8Dfo" frameborder="0" width="100%" height="100%" allowfullscreen ></iframe>
    </div>
  </div> -->

  <!-- https://www.youtube.com/embed/TWfisqV8Dfo?controls=0&mute=1&showinfo=0&rel=0&autoplay=1&loop=1&playlist=TWfisqV8Dfo -->  

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-sm-12">
        <div class="contents text-center">
          <!-- <div class="icon alt">
            <div id="polina"><button><i class='lni-play'></i></button></div>              
          </div> -->
          <img class="img-fluid" src="assets/img/mbat-white.png" alt="" style="width:200px;margin-bottom:20px;">
          <h2 class="head-title">Welcome to MBAT 2021</h2>          
          <p class="banner-desc">Celebrate the 30th MBAT, the most famous MBA Olympics with 1500 participants from top business schools in the world.</p>
          <h3 class="pb-3">Join us on <span class="text-blue-green">May 6-8 2021</span></h3> 
          <br />
    
          <!-- <a href="https://www.twitch.tv/MBAT2021" target="_blank" class="btn btn-common btn-lg font-weight-bold purpleBtn">Watch the MBAT Live</a> -->
     
          <div class="hidden-md-up">
            <div class="banner-btn hidden-lg-up">

              <div class="card bg-warning text-white text-center p-3">
                <div class="card-body">
                  <h5 class="card-title">To Buy Tickets, Visit the website from your Desktop/Laptop</h5>                  
                </div>
              </div>

            </div> 
          </div>

          <!-- <div class="banner-btn hidden-md-down">
            <div *ngIf="loggedIn; else notLogged"> 
              <a href="https://www.helloasso.com/associations/hec-mbat/evenements/mbat-2021-1" class="btn btn-common btn-lg font-weight-bold">BUY TICKETS</a>
            </div>
            <ng-template #notLogged>
              <a href="/register" class="btn btn-common btn-lg font-weight-bold">BUY TICKETS</a>
            </ng-template>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Area End -->

<!-- Count Bar Start -->
<section id="count">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="count-wrapper text-center">
          <div class="time-countdown wow fadeInUp" data-wow-delay="0.2s">
            <div id="clock" class="time-count"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Count Bar End -->