<!-- Hero Area Start -->
<div id="hero-area" class="">
  <div class="overlay"></div>
  <video id="bgvid" class="stop stopfade" loop>
    <source src="./assets/videos/MBAT-2017-Highlights.webm" type="video/mp4">
  </video>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-sm-12">
        <div class="contents text-center">
          <div class="icon alt">
            <div id="polina"><button><i class='lni-play'></i></button></div>              
          </div>
          <p class="banner-info">Welcome to</p>
          <h2 class="head-title">MBAT 2020</h2>
          <p class="banner-desc">Celebrate MBAT 30th anniversary at the most famous MBA Olympics with 1500 participants from top business schools in the world.</p>
          <h4>Event Schedule on <span class="text-warning">May 7-9 2020</span></h4>
          <p class="banner-desc">You are one step from getting your tickets to the journey into sports, networking, fun and finding your vibe at MBAT2020.</p>
          <div class="banner-btn">
            <a href="#" class="btn btn-common btn-lg font-weight-bold" routerLink="/product-list">BUY TICKETS</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Area End -->

<!-- Count Bar Start -->
<section id="count">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="count-wrapper text-center">
          <div class="time-countdown wow fadeInUp" data-wow-delay="0.2s">
            <div id="clock" class="time-count"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Count Bar End -->