
<!-- Contact text Start -->
  <section id="contact-text">
    <div class="container">
      <div class="row contact-wrapper">
        <div class="col-lg-4 col-md-5 col-xs-12">
          <ul>
            <li>
              <i class="lni-home"></i>
            </li>
            <li><span>78350 Jouy-en-Josas, France</span></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-3 col-xs-12">
          <ul>
            <li>
              <i class="lni-phone"></i>
            </li>
            <li><span>+33 1 39 67 70 00</span></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-3 col-xs-12">
          <ul>
            <li>
              <i class="lni-envelope"></i>
            </li>
            <li><a href="mailto:mbate@hec.fr?subject=Mail from MBAT2020 Website">mbat@hec.fr</a><span></span></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<!-- Contact text End -->

<footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-xs-12">
          <div class="footer-logo mt-5">
            <img src="assets/img/mbat-logo-white.png" style="width: 80px;" alt="">
          </div>
          <div class="social-icons-footer">
            <ul>
              <li class="facebook"><a target="_blank" href="https://www.facebook.com/MBATournament/"><i class="lni-facebook-filled"></i></a></li>
              <li class="twitter"><a target="_blank" href="https://twitter.com/HECMBAT"><i class="lni-twitter-filled"></i></a></li>
              <li class="linkedin"><a target="_blank" href="https://www.instagram.com/hecmbat/"><i class="lni-instagram-filled"></i></a></li>
            </ul>
          </div>
          <div class="site-info">
            <p>Copyright © 2020 <a href="https://campaign.mbat.org/" rel="nofollow">MBAT</a>. All Rights Reserved.</p>            
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
  </a>