
<!-- Contact text Start -->
  <section id="contact-text">
    <div class="container">
      <div class="row contact-wrapper">
        <div class="col-lg-4 col-md-5 col-xs-12">
          <ul>
            <li>
              <i class='lni lni-map-marker'></i>
            </li>
            <li><span><a href="https://www.google.com/maps/place/HEC+Paris/@48.757334,2.169395,16z/data=!4m5!3m4!1s0x0:0x3b78097417629c76!8m2!3d48.757334!4d2.1693947?hl=fr">HEC Paris</a></span></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-3 col-xs-12">
          <ul>
            <li>
              <i class="lni-phone"></i>
            </li>
            <li><span><a href="tel:+33-7-66-77-11-41">+33 7 66 77 11 41</a></span></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-3 col-xs-12">
          <ul>
            <li>
              <i class="lni-envelope"></i>
            </li>
            <li><a href="mailto:mbat@hec.fr?subject=Mail from MBAT2021 Website">mbat@hec.fr</a><span></span></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<!-- Contact text End -->

<footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-xs-12">
          <div class="footer-logo mt-5">
            <img src="assets/img/mbat-logo-white.png" style="width: 80px;" alt="">
          </div>
          <div class="social-icons-footer">
            <ul>
              <li class="facebook"><a target="_blank" href="https://www.facebook.com/MBATournament/"><i class="lni-facebook-filled"></i></a></li>
              <!-- <li class="twitter"><a target="_blank" href="https://twitter.com/HECMBAT"><i class="lni-twitter-filled"></i></a></li> -->
              <li class="linkedin"><a target="_blank" href="https://www.instagram.com/hecmbat/"><i class="lni-instagram-filled"></i></a></li>
            </ul>
          </div>
          <div class="site-info">
            <p>Copyright © 2021 <a href="https://campaign.mbat.org/" rel="nofollow">MBAT</a>. All Rights Reserved.</p>            
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
  </a>