<!-- Page Header Start -->
<div class="page-header">      
  <div class="container"> 
      <div class="row">
      <div class="col-12">
          <div class="page-header-inner text-center">   
            <h1 class="page-title">Checkout</h1>
          </div>
      </div>
      </div>
  </div>
</div>
<!-- Page Header End--> 


<!-- Checkout Section Start -->
<section class="schedule section-padding">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Checkout</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s"></p>
              </div>
          </div>
      </div>
      <div class="row">

          <div class="col-md-4 order-md-2 mb-4">


            <div class="summary">
              <h3>Your Order Summary</h3>
              <div class="summary-item"><span class="text"><mark>Event Ticket</mark> - Super Early Bird  × 1</span><span class="price">&euro; 420</span></div>
              <div class="summary-item"><span class="text"><mark>Bracelet</mark>  × 1</span><span class="price">&euro; 150</span></div>
              <div class="summary-item"><span class="text"><mark>Bracelet Topup</mark>  × 1</span><span class="price">&euro; 50</span></div>

              <div class="summary-item"><span class="text">Subtotal</span><span class="price font-weight-bold">&euro; 620</span></div>
              <div class="summary-item"><span class="text">Coupon Discount</span><span class="price">&euro; 0</span></div>
              <div class="summary-item"><span class="text">Total</span><span class="price font-weight-bold">&euro; 620</span></div>
              <div>
                <div id="paypal-pay-btn"></div>
              </div>
            </div>
            

          </div>          
          <div class="col-md-4 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form class="needs-validation" novalidate="">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Last name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
              <div class="row">                
                <div class="col-md-6 mb-3">
                  <label for="email">Email </label>
                  <input type="email" class="form-control" id="email" placeholder="you@example.com">
                  <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="email">Phone </label>
                  <input type="email" class="form-control" id="Phone" placeholder="(987) 879 0987">
                  <div class="invalid-feedback">
                    Please enter a your phone number
                  </div>
                </div>
              </div>       
              <div class="mb-3">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>      
              <div class="mb-3">
                <label for="address2">Address 2</label>
                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
              </div>      
              <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="country">Country</label>
                  <select class="custom-select d-block w-100" id="country" required="">
                    <option value="">Choose...</option>
                    <option>France</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="state">State</label>
                  <select class="custom-select d-block w-100" id="state" required="">
                    <option value="">Choose...</option>
                    <option>Paris</option>
                  </select>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="zip">Zip</label>
                  <input type="text" class="form-control" id="zip" placeholder="" required="">
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4 order-md-1">
            <h4 class="mb-3">Ticket - Attendee 1</h4>
            <form class="needs-validation" novalidate="">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Last name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
              <div class="row">                
                <div class="col-md-6 mb-3">
                  <label for="email">Email </label>
                  <input type="email" class="form-control" id="email" placeholder="you@example.com">
                  <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="email">Phone </label>
                  <input type="email" class="form-control" id="Phone" placeholder="(987) 879 0987">
                  <div class="invalid-feedback">
                    Please enter a your phone number
                  </div>
                </div>
              </div>      
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="School">School *</label>
                  <select class="custom-select d-block w-100" id="School" required="">
                    <option value="">Choose...</option>
                    <option>France</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid School.
                  </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-common font-weight-bold" type="submit">Add Attendee</button>
              </div>
            </form>
          </div>







        <!-- <div class="col-4">

          <section class="page payment-page">
            <section class="payment-form dark">
              <div class="container">
                <div class="block-heading">
                  <h2>Payment</h2>          
                </div>
                <form>
                  <div class="products">
                    <h3 class="title">Checkout</h3>
                    <div class="item">
                      <span class="price">&euro;200</span>
                      <p class="item-name">Early Bird</p>
                      <p class="item-description">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="item">
                      <span class="price">&euro;120</span>
                      <p class="item-name">Entry Ticket</p>
                      <p class="item-description">Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="total">Total<span class="price">&euro;320</span></div>
                  </div>
                  <div class="card-details">
                    <div class="row"> 
                        <div class="form-group col-sm-12">
                            <div id="paypal-pay-btn"></div>
                        </div>             
                    </div>
                  </div>
                </form>
              </div>      
            </section>
        </section>



        </div> -->

      </div>
  </div>
</section>
<!-- Checkout Section End -->




















