<section>
  <div class="container-fluid">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Attendee <b>Details</b></h2></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>School</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>John@abc.com</td>
                    <td>(171) 555-2222)</td>
                    <td>Imperial College of London</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="lni-plus"></i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="lni-pencil"></i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="lni-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Peter Parker</td>
                    <td>peter@ghj.com</td>
                    <td>(313) 555-5735</td>
                    <td>IE Business School</td>
                    <td>
                      <a class="add" title="Add" data-toggle="tooltip"><i class="lni-plus"></i></a>
                      <a class="edit" title="Edit" data-toggle="tooltip"><i class="lni-pencil"></i></a>
                      <a class="delete" title="Delete" data-toggle="tooltip"><i class="lni-trash"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Fran Wilson</td>
                    <td>fran@def.com</td>
                    <td>(503) 555-9931</td>
                    <td>IE Business School</td>
                    <td>
                      <a class="add" title="Add" data-toggle="tooltip"><i class="lni-plus"></i></a>
                      <a class="edit" title="Edit" data-toggle="tooltip"><i class="lni-pencil"></i></a>
                      <a class="delete" title="Delete" data-toggle="tooltip"><i class="lni-trash"></i></a>
                    </td>
                </tr>      
            </tbody>
        </table>
    </div>
  </div>   
</section>

<section class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <h2>Payment</h2>          
        </div>
        <form>
          <div class="products">
            <h3 class="title">Checkout</h3>
            <div class="item">
              <span class="price">&euro;200</span>
              <p class="item-name">Early Bird</p>
              <p class="item-description">Lorem ipsum dolor sit amet</p>
            </div>
            <div class="item">
              <span class="price">&euro;120</span>
              <p class="item-name">Entry Ticket</p>
              <p class="item-description">Lorem ipsum dolor sit amet</p>
            </div>
            <div class="total">Total<span class="price">&euro;320</span></div>
          </div>
          <div class="card-details">
            <div class="row"> 
                <div class="form-group col-sm-12">
                    <div id="paypal-pay-btn"></div>
                </div>             
            </div>
          </div>
        </form>
      </div>      
    </section>
</section>
