

<section class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <h2>Payment</h2>          
        </div>
        <form>
          <div class="products">
            <h3 class="title">Checkout</h3>
            <div class="item">
              <span class="price">&euro;200</span>
              <p class="item-name">Early Bird</p>
              <p class="item-description">Lorem ipsum dolor sit amet</p>
            </div>
            <div class="item">
              <span class="price">&euro;120</span>
              <p class="item-name">Entry Ticket</p>
              <p class="item-description">Lorem ipsum dolor sit amet</p>
            </div>
            <div class="total">Total<span class="price">&euro;320</span></div>
          </div>
          <div class="card-details">
            <div class="row"> 
                <div class="form-group col-sm-12">
                    <div id="paypal-pay-btn"></div>
                </div>             
            </div>
          </div>
        </form>
      </div>      
    </section>
</section>
