<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
            <h1 class="page-title">FAQs</h1>
            <ul>
                <li><a class="active" href="#" routerLink="/">Home</a></li>
                <li>FAQs</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End--> 

<!-- FAQs Section Start -->
<section id="FAQs" class="schedule section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Know Before You Go and Frequently Asked Questions</h2>
                <p class="wow fadeInDown" data-wow-delay="0.2s"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
                    <div class="schedule-tab-content col-12 clearfix">

                        <div id="accordion">
                            <div class="card">
                                <div id="headingOne">
                                <div class="schedule-slot-time p26">1</div>
                                <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><h4>General</h4></div>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p> 
                                        <a href="#" class="btn btn-common">Download KBYG brochure</a> <br> <br>

                                        - do I need a Vis- how do I get to HEC  <br>
                                        - how do I get to HEC- is there parking <br>
                                        - is there parkin- what documents do I require <br>
                                        - what documents do I require <br>
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingTwo">
                                <div class="schedule-slot-time p26">2</div>
                                <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

                                    <h4>Accomodation and Meals</h4>
                          
                                </div>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        - which hotels <br>
                                        - where to eat and drink <br>
                                        - prices <br>
                                        - meal allocation    <br>                                     
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingThree">
                                    <div class="schedule-slot-time p26">3</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><h4>Bus Schedules</h4></div>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        - daily bus timings <br>
                                        - location of pick up and drop off <br>
                                        - route <br>
                                    </p>         
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingFour">
                                    <div class="schedule-slot-time p26">4</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><h4>Location Map</h4></div>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        - main campus map and building locations <br>
                                        - event specific location <br>
                                        - emergency and assembly points <br>
                                        - points of interest around Paris / Jouy <br>
                                    </p>         
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingFive">
                                    <div class="schedule-slot-time p26">5</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><h4>Emergency Services and contact numbers</h4></div>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        - first aid locations <br>
                                        - what services are available <br>
                                        - care / support for known medical condition <br>
                                    </p>         
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingSix">
                                    <div class="schedule-slot-time p26">6</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"><h4>Tickets
                                    </h4></div>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        - what does this ticket come with <br>
                                        - can I transfer my ticket <br>
                                        - how many tickets can I buy <br>
                                        - can a non student participate <br>
                                        - how do I buy the tickets <br>
                                        - ticket designs <br>
                                    </p>         
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingSeven">
                                    <div class="schedule-slot-time p26">7</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"><h4>Tickets
                                    </h4></div>
                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        - what does this ticket come with <br>
                                        - can I transfer my ticket <br>
                                        - how many tickets can I buy <br>
                                        - can a non student participate <br>
                                        - how do I buy the tickets <br>
                                        - ticket designs
                                    </p>         
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingEight">
                                    <div class="schedule-slot-time p26">8</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"><h4>Wristband and purchases</h4></div>
                                </div>
                                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        - when do I receive my bracelet <br>
                                        - how do I top up <br>
                                        - where do I check my remaining credits <br>
                                        - I lost my bracelet <br>
                                        - I damaged my bracelet <br>
                                        - I topped up but did not receive the credits <br>
                                    </p>         
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingNine">
                                    <div class="schedule-slot-time p26">9</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine"><h4>My Account</h4></div>
                                </div>
                                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        - What is in My account <br>
                                        - I do not see my tickets <br>
                                        - I made a typo in my details <br>
                                        - I did not receive my confirmation <br>
                                        - why do I need an account 
                                    </p>         
                                </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQs Section End -->
