<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
            <h1 class="page-title">Core Team</h1>
            <ul>
                <li><a class="active" href="#" routerLink="/about">About</a></li>
                <li>Core Team</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End--> 

<!-- Core Team Section Start -->
<section id="team" class="section-padding text-center">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 text-center">
                <div class="section-title-header text-center">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">HEC MBAT 2020</h2>
                <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">TEAMWORK. DIVERSITY. EXCELLENCE.</h2>
                <p class="wow fadeInDown" data-wow-delay="0.2s">Our goal is to provide a forum for leadership, competition, festivities and cultural exchange across global MBA programs. We feel great responsibility both to our classmates and to all participants coming to this year’s HEC MBA Tournament.</p>

                <p class="wow fadeInDown" data-wow-delay="0.2s">We also hope to honour MBAT’s past by liaising with previous Core Teams, and by understanding that our main purpose is to ensure that MBAT remains an institution among Global MBA programs over the next 50 years. </p>

                <p class="wow fadeInDown" data-wow-delay="0.2s">We look forward to welcoming you all soon!</p>

                </div>
            </div>        
        </div>

        <div class="row justify-content-bt">

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-01.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Anshul</a></h3>
                    <p>President</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-02.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Virsal</a></h3>
                    <p>Finance Dir</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-03.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Johathan</a></h3>
                    <p>Tech VP</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-04.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Alex</a></h3>
                    <p>VP Operation</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-05.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Minoru</a></h3>
                    <p>VP Sports</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1.2s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-06.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Shivam</a></h3>
                    <p>VP Events</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1.4s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-07.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Ining</a></h3>
                    <p>VP Comms</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1.6s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-08.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Xuewei</a></h3>
                    <p>Logistics Dir</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-02.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Gerad</a></h3>
                    <p>Sports Dir</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-03.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Abhinav</a></h3>
                    <p>Event Dir</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-04.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Aditi</a></h3>
                    <p>Comms Dir</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-05.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Gina</a></h3>
                    <p>Logistics Dir</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1.2s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-06.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Yulu</a></h3>
                    <p>Sports Dir</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1.4s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-07.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Stuti</a></h3>
                    <p>Marketing Dir</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1.6s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-08.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Zied</a></h3>
                    <p>Sports Dir</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-lg-3 col-md-6 col-xs-12">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1.6s">
                <div class="team-img">
                    <img class="img-fluid" src="assets/img/team/team-08.jpg" alt="">
                </div>
                <div class="info-text">
                    <h3><a href="#">Maryam</a></h3>
                    <p>Marketing Dir</p>
                </div>
                </div>
                <!-- Team Item Ends -->
            </div>

        </div>
        
    </div>
</section>
<!-- Core Team Section End -->
