    <!-- Page Header Start -->
    <div class="page-header">      
        <div class="container"> 
          <div class="row">
            <div class="col-12">
              <div class="page-header-inner text-center">   
                <h1 class="page-title">
                  Product Details
                </h1>
                <ul>
                  <li>
                      <a class="active" href="#" routerLink="/">Home</a>
                  </li>
                  <li>Product Details</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header End--> 

