    <!-- Page Header Start -->
    <div class="page-header">      
        <div class="container"> 
          <div class="row">
            <div class="col-12">
              <div class="page-header-inner text-center">   
                <h1 class="page-title">
                  Product Details
                </h1>
                <ul>
                  <li>
                      <a class="active" href="#" routerLink="/">Home</a>
                  </li>
                  <li>Product Details</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header End--> 


<!-- Cart Section Start -->
<section id="team" class="section-padding text-center">
  <div class="container">
      
      <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12 text-center">
              <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Buy Ticket</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">Buy the ticket to participate in the MBAT 2020 held at HEC Paris. Please read the description and Event details below.</p>




              </div>
          </div>        
      </div>      
  </div>
</section>
<!-- Cart Section End -->












      <section class="shopping-cart">
        <div class="container-fluid">
          <div class="content">
            <div class="row">

              <div class="col-md-12 col-lg-8">
                <div class="items">

                  <div class="product">
                    <div class="row text-center">
                      <div class="col-md-2"></div>
                      <div class="col-md-10">
                        <div class="info">
                          <div class="row font-weight-bold h6">
                            <div class="col-md-4">Product</div>
                            <div class="col-md-2">Quantity</div>
                            <div class="col-md-2">Price</div>
                            <div class="col-md-2">Subtotal</div>
                            <div class="col-md-2">Action</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="product">
                    <div class="row">
                      <div class="col-md-2">
                        <img class="img-fluid mx-auto d-block image" src="./assets/img/items/event-ticket.jpg">
                      </div>
                      <div class="col-md-10">
                        <div class="info">
                          <div class="row">
                            <div class="col-md-4 product-name">
                              <div class="product-name">
                                <a href="#"><mark>Event Tickets</mark></a>
                                <hr>
                                <div class="row mt-2">

                                  <div class="col-sm-3">Type</div>
                                  <div class="col-sm-9">
                                    <select class="form-control">
                                      <option value="">Choose an option</option>
                                      <option value="Super Early Bird" class="attached enabled">Super Early Bird</option>
                                      <option value="Early Bird" class="attached enabled">Early Bird</option>
                                      <option value="Regular" class="attached enabled">Regular</option>
                                      <option value="Last minute Tickets" class="attached enabled">Last minute Tickets</option>
                                    </select>
                                  </div>
                         
                                </div>

                                
                                

                                <div class="product-info">
                                  <div class="mb-2">Ticket includes</div>
                                  <div class="mb-2">Accommodation <span class="value">Accommodation for 3 nights. Double sharing basis. 3-4 star hotels. Check-in May 7th and Check-out May 10th</span></div>
                                  <div class="mb-2">Bus <span class="value">Transportation to from HEC to Hotel / events venue</span></div>
                                  <div class="mb-2">Meals <span class="value">Breakfast &amp; Dinner for 3 days. Lunch on the welcome day (May 7th)</span></div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2 quantity">
                              <label for="quantity">Availability <span class="text-success"> In stock</span></label>
                              <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                            </div>
                            <div class="col-md-2 price">
                              <span>&euro; 420,00</span>
                            </div>
                            <div class="col-md-2 price">
                              <span>&euro; 420,00</span>
                            </div>
                            <div class="col-md-2 delete">
                              <span class="mt-2"><i class="lni-close"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="product">
                    <div class="row">
                      <div class="col-md-2">
                        <img class="img-fluid mx-auto d-block image" src="./assets/img/items/bracelet.jpg">
                      </div>
                      <div class="col-md-10">
                        <div class="info">
                          <div class="row">
                            <div class="col-md-4 product-name">
                              <div class="product-name">
                                <a href="#"><mark>Bracelet</mark></a>
                                <div class="product-info">
                                  <div class="mb-2">Buy the Bracelet for cashless payments during the event.</div>
                                  <div class="mb-2"><span class="value">Safer. Faster. Easier.</span></div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2 quantity">
                              <label for="quantity">Availability <span class="text-success"> In stock</span></label>
                              <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                            </div>
                            <div class="col-md-2 price">  
                              <span>&euro; 150,00</span>
                            </div>
                            <div class="col-md-2 price">  
                              <span>&euro; 150,00</span>
                            </div>
                            <div class="col-md-2 delete">
                              <span class="mt-2"><i class="lni-close"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="product">
                    <div class="row">
                      <div class="col-md-2">
                        <img class="img-fluid mx-auto d-block image" src="./assets/img/items/bracelet-topup.jpg">
                      </div>
                      <div class="col-md-10">
                        <div class="info">
                          <div class="row">
                            <div class="col-md-4 product-name">
                              <div class="product-name">
                                <a href="#"><mark>Bracelet Top-up</mark></a>
                                <div class="product-info">
                                  <div class="mb-2">Top-up your bracelet</div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2 quantity">
                              <label for="quantity">Availability <span class="text-success"> In stock</span></label>
                              <input id="quantity" type="number" value ="1" class="form-control quantity-input">
                            </div>
                            <div class="col-md-2 price">
                              <span>&euro; 50,00</span>
                            </div>
                            <div class="col-md-2 price">
                              <span>&euro; 50,00</span>
                            </div>
                            <div class="col-md-2 delete">
                              <span class="mt-2"><i class="lni-close"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  

                </div>
              </div>

              <div class="col-md-12 col-lg-4">
                <div class="summary">
                  <h3>Your Order Summary</h3>
                  <div class="summary-item"><span class="text"><mark>Event Ticket</mark> - Super Early Bird  × 1</span><span class="price">&euro; 420</span></div>
                  <div class="summary-item"><span class="text"><mark>Bracelet</mark>  × 1</span><span class="price">&euro; 150</span></div>
                  <div class="summary-item"><span class="text"><mark>Bracelet Topup</mark>  × 1</span><span class="price">&euro; 50</span></div>

                  <div class="summary-item"><span class="text">Subtotal</span><span class="price font-weight-bold">&euro; 620</span></div>
                  <div class="summary-item"><span class="text">Coupon Discount</span><span class="price">&euro; 0</span></div>
                  <div class="summary-item"><span class="text">Total</span><span class="price font-weight-bold">&euro; 620</span></div>
                  <button type="button" class="btn btn-warning btn-lg btn-block font-weight-bold" routerLink="/checkout">Checkout</button>
                </div>
              </div>

            </div> 
          </div>
        </div>
     </section>

