<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
            <h1 class="page-title">Schedule</h1>
            <ul>
                <li><a class="active" href="#" routerLink="/about">About</a></li>
                <li>Schedule</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End-->

    <!-- Ticket Pricing Area Start -->
    <section id="pricing" class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title-header text-center">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Event Schedule</h2>
                <p class="wow fadeInDown" data-wow-delay="0.2s">The below represents the sequence of events for each day. <br>
                    The complete time specific schedule will be availble on the
                    Sports and Activities schedule listed down. </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-xa-12 mb-3">
              <div class="price-block-wrapper wow fadeInLeft" data-wow-delay="0.2s">
                <div class="colmun-title">
                  <h5>May 07 2020</h5>
                </div>
                <div class="pricing-list">
                  <ul>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Arrivals & Breakfast</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Sports (all day)</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Dinner</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Dance Competition</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Silent Disco</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xa-12 mb-3">
              <div class="price-block-wrapper active wow fadeInUp" data-wow-delay="0.3s">
                <div class="colmun-title">
                  <h5>May 08 2020</h5>
                </div>
                <div class="pricing-list">
                  <ul>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Breakfast</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Sports (all day)</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Day forest party</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Dinner</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Battle of Bands</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xa-12 mb-3">
              <div class="price-block-wrapper wow fadeInRight" data-wow-delay="0.4s">
                <div class="colmun-title">
                  <h5>May 09 2020</h5>
                </div>
                <div class="pricing-list">
                  <ul>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Breakfast</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Sports (all day)</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Gala Dinner & Fashion Show</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Access to all areas</span></li>
                    <li><i class="lni-check-mark-circle"></i><span class="text">Certificate</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Ticket Pricing Area End -->



<!-- Schedule Section Start -->
<section id="schedules" class="schedule section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Sports and Activities Schedule</h2>
                <p class="wow fadeInDown" data-wow-delay="0.2s"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-5 text-center">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="monday-tab" data-toggle="tab" href="#thursday" role="tab" aria-controls="thursday" aria-expanded="true">
                    <div class="item-text">
                        <h4>Day 01</h4>
                        <h5>07 May 2020</h5>
                    </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="friday-tab" data-toggle="tab" href="#friday" role="tab" aria-controls="friday">
                    <div class="item-text">
                        <h4>Day 02</h4>
                        <h5>08 May 2020</h5>
                    </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="saturday-tab" data-toggle="tab" href="#saturday" role="tab" aria-controls="saturday">
                    <div class="item-text">
                        <h4>Day 03</h4>
                        <h5>09 May 2020</h5>
                    </div>
                    </a>
                </li>
                </ul>
            </div>
            <div class="col-12">
                <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
                <div class="schedule-tab-content col-12 clearfix">
                    <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="thursday" role="tabpanel" aria-labelledby="thursday-tab">
                        <div id="accordion">
                        <div class="card">
                            <div id="headingOne">
                            <div class="schedule-slot-time">
                                <span> 09.30 - 10.30 AM</span>                              
                            </div>
                            <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <div class="images-box">
                                <img class="img-fluid" src="assets/img/speaker/speakers-1.jpg" alt="">
                                </div>                     
                                <h4>HEC Paris </h4>
                                <h5 class="name">Info</h5>
                            </div>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="stylish-list mb-3">
                                    <li><i class="lni-check-mark-circle mr-2"></i>Basketball (Women)</li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>Chess – Individual </li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>Chess – Team</li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>eSports - FIFA 2v2</li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>Rock Climbing</li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>Table Tennis</li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>Track (Men) - 100 m</li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>Track (Women) - 100 m</li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>IE Business School eSports - FIFA 1v1</li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>Football (Men)</li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>Paintball</li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>Swimming</li>
                                    <li><i class="lni-check-mark-circle mr-2"></i>IMD Track (Men, 1500m)</li>
                                </ul>
                                <div class="location">
                                <span>Location:</span> HEC Paris 
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingTwo">
                            <div class="schedule-slot-time">
                                <span> 10.30 - 11.30 AM</span>                             
                            </div>
                            <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="images-box">
                                <img class="img-fluid" src="assets/img/speaker/speakers-2.jpg" alt="">
                                </div>
                                <h4>ESADE Business School Dodgeball</h4>
                                <h5 class="name">Berlin</h5>
                            </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima dolores rerum maiores qui at commodi quas, reprehenderit eius consectetur quae magni molestias veniam, provident illum facere iure libero asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum nihil ex ipsa magni eligendi fugiat assumenda suscipit, accusantium, necessitatibus reiciendis odit sed, vero amet blanditiis?</p>
                                <div class="location">
                                <span>Location:</span> ipsa magni eligendi fugiat assumenda suscipit
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingThree">
                            <div class="schedule-slot-time">
                                <span> 11.30 - 12.30 AM</span>                              
                            </div>
                            <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <div class="images-box">
                                <img class="img-fluid" src="assets/img/speaker/speakers-3.jpg" alt="">
                                </div>
                                <h4>ESADE Business School Dodgeball</h4>
                                <h5 class="name">Paris</h5>
                            </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima dolores rerum maiores qui at commodi quas, reprehenderit eius consectetur quae magni molestias veniam, provident illum facere iure libero asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum nihil ex ipsa magni eligendi fugiat assumenda suscipit, accusantium, necessitatibus reiciendis odit sed, vero amet blanditiis?</p>
                                <div class="location">
                                <span>Location:</span> ipsa magni eligendi fugiat assumenda suscipit
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="friday" role="tabpanel" aria-labelledby="friday-tab">
                        <div id="accordion2">
                        <div class="card">
                            <div id="headingOne1">
                            <div class="schedule-slot-time">
                                <span> 01.30 - 02.30 AM</span>                              
                            </div>
                            <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                <div class="images-box">
                                <img class="img-fluid" src="assets/img/speaker/speakers-2.jpg" alt="">
                                </div>
                                <h4>Cranfield School of Management</h4>
                                <h5 class="name">Name Of City</h5>
                            </div>
                            </div>
                            <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne1" data-parent="#accordion2">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima dolores rerum maiores qui at commodi quas, reprehenderit eius consectetur quae magni molestias veniam, provident illum facere iure libero asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum nihil ex ipsa magni eligendi fugiat assumenda suscipit, accusantium, necessitatibus reiciendis odit sed, vero amet blanditiis?</p>
                                <div class="location">
                                <span>Location:</span> magni eligendi fugiat assumenda suscipit, accusantium,
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingTwo2">
                            <div class="schedule-slot-time">
                                <span> 09.30 - 10.30 AM</span>
                            </div>
                            <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                <div class="images-box">
                                <img class="img-fluid" src="assets/img/speaker/speakers-1.jpg" alt="">
                                </div>
                                <h4>Cambridge Judge Business School</h4>
                                <h5 class="name">Name Of City</h5>
                            </div>
                            </div>
                            <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordion2">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima dolores rerum maiores qui at commodi quas, reprehenderit eius consectetur quae magni molestias veniam, provident illum facere iure libero asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum nihil ex ipsa magni eligendi fugiat assumenda suscipit, accusantium, necessitatibus reiciendis odit sed, vero amet blanditiis?</p>
                                <div class="location">
                                <span>Location:</span> magni eligendi fugiat assumenda suscipit, accusantium,
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="saturday" role="tabpanel" aria-labelledby="saturday-tab">
                        <div id="accordion3">
                        <div class="card">
                            <div id="headingOne3">
                            <div class="schedule-slot-time">
                                <span> 10.30 - 11.30 AM</span>
                            </div>
                            <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3">
                                <div class="images-box">
                                <img class="img-fluid" src="assets/img/speaker/speakers-1.jpg" alt="">
                                </div>
                                <h4>Cambridge Judge Business School</h4>
                                <h5 class="name">Name of City</h5>
                            </div>
                            </div>
                            <div id="collapseOne3" class="collapse show" aria-labelledby="headingOne3" data-parent="#accordion3">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima dolores rerum maiores qui at commodi quas, reprehenderit eius consectetur quae magni molestias veniam, provident illum facere iure libero asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum nihil ex ipsa magni eligendi fugiat assumenda suscipit, accusantium, necessitatibus reiciendis odit sed, vero amet blanditiis?</p>
                                <div class="location">
                                <span>Location:</span> nihil ex ipsa magni eligendi fugiat
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingTwo3">
                            <div class="schedule-slot-time">
                                <span> 11.30 - 12.30 AM</span>
                            </div>
                            <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
                                <div class="images-box">
                                <img class="img-fluid" src="assets/img/speaker/speakers-2.jpg" alt="">
                                </div>
                                <h4>Cambridge Judge Business School</h4>
                                <h5 class="name">Name of City</h5>
                            </div>
                            </div>
                            <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo3" data-parent="#accordion3">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima dolores rerum maiores qui at commodi quas, reprehenderit eius consectetur quae magni molestias veniam, provident illum facere iure libero asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum nihil ex ipsa magni eligendi fugiat assumenda suscipit, accusantium, necessitatibus reiciendis odit sed, vero amet blanditiis?</p>
                                <div class="location">
                                <span>Location:</span> nihil ex ipsa magni eligendi fugiat
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingThree3">
                            <div class="schedule-slot-time">
                                <span> 01.30 - 02.30 AM</span>
                            </div>
                            <div class="collapsed card-header" data-toggle="collapse" data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                <div class="images-box">
                                <img class="img-fluid" src="assets/img/speaker/speakers-3.jpg" alt="">
                                </div>
                                <h4>Alliance Manchester Business School Billiards</h4>
                                <h5 class="name">Name of City</h5>
                            </div>
                            </div>
                            <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3" data-parent="#accordion3">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet minima dolores rerum maiores qui at commodi quas, reprehenderit eius consectetur quae magni molestias veniam, provident illum facere iure libero asperiores! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam earum nihil ex ipsa magni eligendi fugiat assumenda suscipit, accusantium, necessitatibus reiciendis odit sed, vero amet blanditiis?</p>
                                <div class="location">
                                <span>Location:</span> nihil ex ipsa magni eligendi fugiat
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Schedule Section End -->