<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
                <h1 class="page-title">Events</h1>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End--> 

<!-- Events Section Start -->
   <section id="events" class="schedule section-padding">
      <div class="container">

        <!-- 
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Events</h2>              
            </div>
          </div>
        </div>
        -->

        <div class="row">
          <div class="col-12 mb-5 text-center">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="competitiveEvents-tab" data-toggle="tab" href="#competitiveEvents" role="tab" aria-controls="competitiveEvents">
                  <div class="item-text">
                    <h5>Competitive Events</h5>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="socialEvents-tab" data-toggle="tab" href="#socialEvents" role="tab" aria-controls="socialEvents" aria-expanded="true">
                  <div class="item-text">
                    <h5>Social Events</h5>
                  </div>
                </a>                
              </li>
            </ul>
          </div>
          <div class="col-12">
            <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
              <div class="schedule-tab-content col-12 clearfix">
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="competitiveEvents" role="tabpanel" aria-labelledby="competitiveEvents-tab">

                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/1-virtual-group-running-challenge.jpg" alt="">
                                  </div>
                                  <div class="descr">   
                                    <h3 class="title">Virtual group running challenge</h3>
                                    <p>Run Forrest Run! Let’s join effort with your friends to clock the most kilometers run during a pre-defined period to win this group running challenge, with the assistance of a running app for close monitoring and evaluation.</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/2-virtual-individual-running-challenge.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Virtual individual running challenge</h3>
                                    <p>Do you have what it takes to be a marathon runner? Join this individual running challenge and run as much as you want during a pre-defined period to win this challenge. The winner will be evaluated with the assistance of a running app. </p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/3-virtual-group-cycling-challenge.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Virtual group cycling challenge</h3>
                                    <p>Gather your friends to ride together to win this group cycling challenge. With the assistance of an app, the winner is the school who rode the most kilometres in a pre-defined period.</p>
                                  </div>
                                  
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/4-virtual-individual-cycling-challenge.jpg" alt="">
                                  </div>
                                  <div class="descr">   
                                    <h3 class="title">Virtual individual cycling challenge</h3>
                                    <p>The next Lance Armstrong (opss, wrong example for some obvious ethical reasons)? Come and join us in this individual cycling challenge to win points for your school. The most kilometres clocked during a pre-defined period will be the crowned the winner of this challenge.</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/5-MBATs-Got-Talent.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">MBAT’s Got Talent</h3>
                                    <p>Who will be the next great talent among us? Moves like Jagger, moonwalks like Michael Jackson, magic tricks, daredevil stunts, etc. you name it, and the winner’s ticket is on the way to your doorstep.</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/6-battle-of-the-bands.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Battle of the Bands</h3>
                                    <p>From The Beatles to Maroon 5, we have seen the best bands who have graced our music scene for generations. Dust off your drums, tune your guitars, warm up your vocals and you are on track to grab your chance to make a mark in MBAT!</p>
                                  </div>
                                  
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/7-football-Juggling-Challenge.jpg" alt="">
                                  </div>
                                  <div class="descr">   
                                    <h3 class="title">Football Juggling Challenge</h3>
                                    <p>“Joga Bonito” - show us by recording your beautiful footballing skills to be the next Messi (or some may argue preferring Ronaldo) to win the bragging rights of this beautiful game and points for your school.</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/8-Basketball-trick-shot-Competition.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Basketball trick shot Competition</h3>
                                    <p>Run against the clock to make all the shots, compete with other participants all over the world and become the best MBA basketball scorer!</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/9-Basketball-Skills-Challenge.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Basketball Skills Challenge</h3>
                                    <p>Can you finish the circuit as fast as possible? Or will you miss your shot at the last second and get second place? Test your abilities in MBAT's first basketball skills competition.</p>
                                  </div>
                                  
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/10-Parkour-challenge.jpg" alt="">
                                  </div>
                                  <div class="descr">   
                                    <h3 class="title">Parkour challenge</h3>
                                    <p>If you have the agility and flexibility to what it takes to participate in our parkour challenge, do join to put your skills to test. Send us your videos with the best tricks to win this challenge and points for your school. </p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/11-Fitness-challenge.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Fitness challenge</h3>
                                    <p>Who is the fittest MBA?  <br />Complete each surprise round as fast as possible and prove you are the fittest MBA.</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/12-Counter-Strike-Global-Offensive.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Counter Strike: Global Offensive</h3>
                                    <p>Create your team of 5 to play in this fast-paced FPS with some of the most iconic weapons and maps of all esports.</p>
                                    <p class="text-danger">* Participants will need to have access to the game to be able to participate</p>
                                  </div>
                                  
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/13-Dota-2.jpg" alt="">
                                  </div>
                                  <div class="descr">   
                                    <h3 class="title">Dota 2</h3>
                                    <p>Choose one of more than 100 heroes, join a team of at least 5 players and compete for the first position in this MOBA.</p>
                                    <p class="text-danger">* Participants will need to have access to the game to be able to participate</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/14-Formula-1-Esports.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Formula 1 Esports</h3>
                                    <p>Feel the thrill of a run, from the qualifications to the podium. Join many players from different schools to define who is the fastest in MBAT. </p>
                                    <p class="text-danger">* Participants will need to have access to the game to be able to participate</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/15-Fortnite.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Fortnite</h3>
                                    <p>Play alone or in teams of four, in the most famous battle royale. Can you or your team be the best across all rounds?</p>
                                    <p class="text-danger">* Participants will need to have access to the game to be able to participate</p>
                                  </div>
                                  
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/16-League-of-Legends.jpg" alt="">
                                  </div>
                                  <div class="descr">   
                                    <h3 class="title">League of Legends</h3>
                                    <p>Create your team of five and enter Summoners Rift hunt the dragons or the Baron to get an edge and fight to break the Nexus of the opposing team first.</p>
                                    <p class="text-danger">* Participants will need to have access to the game to be able to participate</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/17-FIFA-21-20.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">FIFA 21/20</h3>
                                    <p>Create your team and compete in Ultimate Team Mode, to know who the best FIFA player of MBAT is.</p>
                                    <p class="text-danger">* Participants will need to have access to the game to be able to participate</p>

                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/18-NBA-2K21-20 .jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">NBA 2K21/20 </h3>
                                    <p>Choose your team and compete against others to be the winner of the first NBA 2k championship in MBAT history. </p>
                                    <p class="text-danger">* Participants will need to have access to the game to be able to participate</p>
                                  </div>
                                  
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="tab-pane fade" id="socialEvents" role="tabpanel" aria-labelledby="socialEvents-tab">
                        
                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/01-Student-led-Masterclasses.jpg" alt="">
                                  </div>
                                  <div class="descr">   
                                    <h3 class="title">Student-led Masterclasses</h3>
                                    <p>Is there a skill that you really wanted to pick up, but have not had the opportunity to do so? With our student led masterclasses now you can learn a wide range of skills like cocktail mixing, chess, yoga, and meditation. etc.</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/02-Professional-and-Social-Networking-events.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Professional and Social Networking events</h3>
                                    <p>We understand that building networks is an essential part of the MBA. During the pandemic it has become especially difficult to meet and greet people from other business schools, and with our networking events we hope to address exactly that.  You will be able to connect with people with similar professional/ social interests and specialized agendas will help you build your MBA network.</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/03-Individual-online-games.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Individual online games</h3>
                                    <p>If you feel like unwinding and having fun simultaneously, this is the place to be.  You will have the opportunity to join online games individually or as part of a team. Get excited for pictionary, trivia games, quizzes etc. – Hop in and out of these games at your convenience.</p>
                                  </div>
                                  
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/04-Online-treasure-hunt.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Online treasure hunt</h3>
                                    <p>Get your Sherlock hats ready and find the answers hidden in plain sight. Exciting goodies will be given to the fastest solvers!</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/05-Photography-competition.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Photography competition</h3>
                                    <p>Get your DSLRs out and compete in this sport-themed photography competition! The most liked photos (via social media) will win MBAT goodies and valuable MBAT points for your school.</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12 mb-4">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/06-School-Anthem-competition.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">School Anthem competition (English anthems only) </h3>
                                    <p>Create a unique anthem for your school. - This can  be a music video or  a recorded song. One entry per school. The winning team’s anthem will be played after each match. The best anthem (based on the lyrics and the music) will be given additional MBAT points.</p>
                                  </div>
                                  
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/07-Engaging-multiplayer-video-games.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Engaging multiplayer video games</h3>
                                    <p>Virtual video game parties will be organized for games like Among us, Wolf and Jackbox  to unwind and have some fun!</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/08-Virtual-DJ-Music-evening.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Virtual DJ/Music evening</h3>
                                    <p>The best way to celebrate is always with some music! Be ready to have fun with a glass of beer or wine from the comfort of your own room as we bring the party to you!</p>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="blog-item h-100">
                                  <div class="blog-image">
                                    <img class="img-fluid" src="assets/img/event/09-Other-fun-Social-Events.jpg" alt="">
                                  </div>
                                  <div class="descr">         
                                    <h3 class="title">Other fun Social Events!</h3>
                                    <p>Stay tuned for additional social events that will be added in the coming weeks!</p>
                                  </div>
                                  
                                </div>
                            </div>

                        </div>

                    </div> 
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- Events Section End -->
