<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
                <h1 class="page-title">Events</h1>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End--> 

<!-- Events Section Start -->
<section id="events" class="schedule section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">List of Events</h2>
                <p class="wow fadeInDown" data-wow-delay="0.2s"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
                    <div class="schedule-tab-content col-12 clearfix">

                        <div id="accordion">
                            <div class="card">
                                <div id="headingOne">
                                <div class="schedule-slot-time p26">1</div>
                                <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><h4>General</h4></div>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p> 
                                        - what events are available <br>
                                        - audience participation (voting?) <br>
                                        - highlight for new events <br>

                                        We will not do online voting <br>
                                        Instead let's upload university brochure here and rule book - will share early next week 
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingTwo">
                                <div class="schedule-slot-time p26">2</div>
                                <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><h4>Battle of the Bands</h4></div>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p> 
                                        Compete with other schools on a musical journey through the eras  <br>
                                        May, 8 2020 19:00 onwards  <br>
                                        Location: Hall d'Honneur, HEC Paris  <br>
                                        would make sense to place dance competition first as it's the first event in the schedule                                   
                                    </p>
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingThree">
                                    <div class="schedule-slot-time p26">3</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><h4>Dance competition</h4></div>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        Compete with other schools and dance through the eras <br>
                                        May, 7 2020 19:00 onwards <br>
                                        Location: Hall d'Honneur, HEC Paris <br>
                                        would make sense to place dance competition first as it's the first event in the schedule

                                    </p>         
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingFour">
                                    <div class="schedule-slot-time p26">4</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><h4>Fashion show</h4></div>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        Build a team and compete with other schools on fashion sense and creativity <br>
                                        May, 9 2020 19:00 onwards <br>
                                        Location: Gala Venue - Salle Wagram, Paris <br>

                                    </p>         
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingFive">
                                    <div class="schedule-slot-time p26">5</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><h4>Forest party</h4></div>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        Parties in the main HEC Paris treasure - forest. Duh! <br>
                                        7th May 2020, 2200 hours onwards (Night Party) <br>
                                        8th May 2020, 1200 - 1800 hours (Day Party) <br>
                                        Location: HEC Paris forest, near the lake 
                                    </p>         
                                </div>
                                </div>
                            </div>
                            <div class="card">
                                <div id="headingSix">
                                    <div class="schedule-slot-time p26">6</div>
                                    <div class="collapsed card-header pl100" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"><h4>Speak-easy bars</h4></div>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                    <div class="card-body">
                                    <p>
                                        Chill and network at these bars across campus if you are not playing any sport.  <br>
                                        7,8,9 May 2020 12:00-18:00  <br>
                                        Location: all around HEC campus 
                                    </p>         
                                </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Events Section End -->
