<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
            <h1 class="page-title">MBAT2020</h1>
            <ul>
                <li><a class="active" href="#" routerLink="/about">About</a></li>
                <li>MBAT2020</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End-->  

<!-- MBAT2020 Section Start -->
<section class="section-padding">
    <div class="container">
        <div class="row">              
            <div class="col-12 text-left">
                <div class="section-title-header">
                    <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">WHAT IS MBAT?</h2>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">The MBA Tournament (MBAT) is the largest inter-MBA sports tournament, with 15 schools and 1500 participants, hosted by HEC Paris and is currently in its 30th year of inception. The MBAT brings together the leading international business schools for three adrenalin-filled days of pure competition in the heart of France. The school campus mimics the plains of Olympia, transcending into a vast event for networking, competing and partying.</p>
                </div>
            </div>
        </div>
        
        <div class="row">              
            <div class="col-12">
                <div class="section-title-header">
                    <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">WHEN IS MBAT2020?</h2>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">The MBAT2020 is held from May 7th – May 9th, 2020. We recommend arriving at HEC-Paris early on Thursday to complete registration. The accommodation will be made available from the 7th to the 9th of May in hotels close to HEC Campus (Versailles,  Vélizy). Shuttles from hotels to campus and back will be provided.</p>
                </div>
            </div>
        </div>
        
        <div class="row">              
            <div class="col-12">
                <div class="section-title-header">
                    <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">WHY YOU SHOULD JOIN MBAT?</h2>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">The MBAT is much more than a sporting event. It is the largest, most diverse gathering of MBA students from all over the world, providing you with an opportunity to connect with both your peers and competitors. In addition, you get the opportunity to connect with our sponsors and rich network of alumni.</p>
            
                    <p class="wow fadeInDown" data-wow-delay="0.2s">This is an opportunity to represent your school in an international arena. Compete against other Top Global Business Schools and exercise leadership and teamwork skills in a unique environment.</p>
            
                    <p class="wow fadeInDown" data-wow-delay="0.2s">MBAT also provides you with the opportunity to exercise your abilities to pull all-nighters with our promise of not a single quiet night during your stay here. This will be one holiday after which you will be wishing for another.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MBAT2020 Section End -->



