<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
                <h1 class="page-title">Voting</h1>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End--> 

<!-- Section Area Start -->
<section class="section-padding p-2">
	<div class="container">

	  <div class="row justify-content-center">
	    <div class="col-lg-6 col-md-6 col-xs-12">

	    	<!-- No Question to Vote -->
	    	<div class="container-form" *ngIf="noQuestion">
	    		<div class="form-wrapper px-4 py-2">
		      	<div class="row py-5">
	        		<div class="col-12 py-5 my-5 text-center"><h4><span class="badge badge-warning">{{noQuestion}}</span></h4></div>	          	
	        	</div>
        	</div> 
        </div>
        <!-- No Question to Vote -->

        <!-- Question to Vote -->
	      <div class="container-form" *ngIf="!noQuestion"> 
	        <div class="form-wrapper px-4 py-2">
	          <form role="form" method="post" id="votingForm" name="voting-form" data-toggle="validator">	          	

	            <div class="row">

	            	<div class="col-12 text-center timeStamp"><h4><span class="badge badge-warning">Ends By: {{time}}</span></h4></div>
						
	              <div class="col-md-12 text-center">
	                <h5 class="p-4">{{question}}</h5>
	              </div>
				  
                <div class="col-md-4 offset-4">

					     		<div class="form-check" *ngFor='let option of options let i = index'>
					          <input class="form-check-input" type="radio" name="gridRadios" (change)="onOptionChange($event)" id="{{i}}" value="option1" [checked]="option === previouslySelected">
					          <label class="form-check-label" for="gridRadios1">{{option}}</label>
					        </div>
	              
	            	</div>

	            </div>

	          </form>
	        </div>

	        <div class="col-md-12 pb-4 bg-white">

            <div class="col-sm-6 mx-auto form-submit pt-2">
              <button type="submit" class="btn btn-common" (click)="submitVote($event)" id="submit_Voting">Submit</button>	                  
            </div>

          </div>
	      </div>
	      <!-- Question to Vote -->

	    </div>
	  </div>

	  <div id="overlaySpinner" *ngIf="visible">
		<div class="spinner"></div>
		<br/><p>Loading...</p>
	  </div>
	  
	  <div class="modal fade" id="successfulModal">
		<div class="modal-dialog modal-dialog-scrollable modal-lg">
		  <div class="modal-content">
			<div class="modal-body p-5 text-center bg-green-lt">
			  <h5 class="text-success">{{successText}}</h5> 
			</div>
			<div class="modal-footer centerAlign">
			  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
	  
		  </div>
		</div>
	  </div>
	  
	</div>
</section>
<!-- Section Area End -->