/*!
 * Custom CSS
 */

 body, html {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

 .dropdown-menu.dropdown-menu-right:before  {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 100%;
    right: 8px !important;
    margin-left: -5px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

 .dropdown-menu:before  {
    left: auto !important;

}




.brand-white-bg {background:#fff !important;}
.brand-primary-bg {color:#000390 !important;} /* blue */
.brand-secondary-bg {color:#000390 !important;} /* green */

.brand-primary-text {color:#000390 !important;} /* blue */
.brand-secondary-text {color:#000390 !important;} /* green */

.box-shadow-none {box-shadow:none;}
.schedule .schedule-tab-content .tab-content {box-shadow:none;}

.team-item {margin: 0 0; padding: 80px 15px;}

.section-padding{ padding: 100px 0 ;}
.section-padding.alt {margin: 120px 0 0 0;}

 .schedule.sportsPage .card-body {background: transparent;}

 .schedule.sportsPage .schedule-tab-content .card {
  border:1px solid rgba(2, 39, 90, 0.5);
}

 .sportsCard .card {
  border-radius: 4px;
  box-shadow: 0 1px 5px #e3e7eb;
 }

 .sportsCard .card span i {
   font-size: 4rem;
   background:-moz-linear-gradient(top, rgba(240,135,24,1) 0%, rgba(242,12,58,1) 100%); 
   background: -webkit-linear-gradient(top, rgba(240,135,24,1) 0%,rgba(242,12,58,1) 100%); 
   background: linear-gradient(to bottom, rgba(240,135,24,1) 0%,rgba(242,12,58,1) 100%);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color:transparent;
  
  }

 .sportsCard .card:hover {
  color: #fff;
  background: rgb(240,135,24);
  background: linear-gradient(135deg, rgba(240,135,24,1) 0%,rgba(242,12,58,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f08718', endColorstr='#f20c3a',GradientType=1 );
  cursor: pointer;
  border:1px solid rgba(240,135,24, 0.5) !important;
}

.sportsCard .card:hover span i {
  background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%); 
   background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%); 
   background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color:transparent;
}



.sportsCard .card h5 {font-size: 16px !important; font-weight:bold;}


/* ----------------------- */

main.stable {
  display: block;
}

 .match-list-wrap {
  background: rgba(2, 39, 90, 1);
}

.match-list-wrap .match-list-item {
  margin-top: 1px;
  padding: 9px 10px 10px 10px;
  border-bottom: 1px solid rgba(2, 39, 90, 1);
  font-size: 0;
  box-sizing: border-box;
}

.match-list-wrap .match-list-item > div {
  display: inline-block;
  vertical-align: middle;
}

.match-list-wrap .match-list-item .date {
  margin-right: 30px;
  width: 44px;
  height: 44px;
  border: 1px solid #ff4a67;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}

.match-list-wrap .match-list-item .date span {
  padding-top: 8px;
  font-size: 16px;
  color: #ff4a67;
  display: block;
}

.match-list-wrap .match-list-item .team-name {
  padding: 0 14px;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
}

.match-list-wrap .match-list-item .location {
  padding: 0 0 0 17px;
  background: url(../img/location-icon.png) 0 50% no-repeat;
  margin-left: 40px;
  font-size: 14px;
  color: #fff;
  font-family: 'Work Sans';
}

.match-list-wrap .match-list-item .location address {
  margin: 0;font-style: normal;
}

.match-list-wrap .match-list-item .va-view-wrap {
  float: right;
}

.match-list-wrap .match-list-item .va-view-wrap a {
  margin-top: 5px;
  width: 150px;
  display: block;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 34px;
  font-family: 'Work Sans';
  transition: 400ms all;
  -webkit-transition: 400ms all;
  text-transform: uppercase;
  border: 1px solid #ff4a67;
}



 /* -------------------------- */


 main.stable {
  display: block;
}

 .tg-main {
  padding: 20px 0;
}

.tg-haslayout {
  width: 100%;
}

.tg-main .tg-main-section:first-child {
  margin: -20px 0 0;
  padding: 30px 0 30px;
}

.tg-main-section {
  padding: 80px 0;
  overflow: hidden;
}


.tg-section-name {
  top: 0;
  left: 15px;
  z-index: 1;
  position: absolute;
  border-bottom: 2px solid rgba(2, 39, 90, 1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 20px 20px;
  -moz-transform-origin: 20px 20px;
  -ms-transform-origin: 20px 20px;
  -o-transform-origin: 20px 20px;
  transform-origin: 20px 20px;
}

.tg-section-name h2 {
  width: 100%;
  float: left;
  margin: 0 0 20px;
  font-size: 18px !important;
  line-height: 18px;
  color: rgba(2, 39, 90, 1);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;

}



.tg-section-name:after {
  bottom: -2px;
  right: 100%;
  content: '';
  width: 35px;
  height: 2px;
  z-index: -1;
  background: rgba(2, 39, 90, 1);
  position: absolute;
}

.tg-tickets {
  width: 100%;
  float: left;
}

.tg-ticket {
  width: 100%;
  float: left;
  padding: 20px;
  background: #f7f7f7;
}

.tg-ticket:hover {
  color: #fff;
  background: rgba(2, 39, 90, 1);
}

.tg-ticket:hover .tg-matchdate,
.tg-ticket:hover .tg-theme-tag{
  background: #ff4a67;
}

.tg-ticket:hover .tg-matchdate span, .tg-ticket:hover .tg-matchdate {
  color: rgba(2, 39, 90, 1);
}



.tg-matchdate {
  width: 76px;
  height: 76px;
  float: left;
  color: #fff;
  padding: 13px;
  margin: 0 10px 0 0;
  background: rgba(2, 39, 90, 1);
  text-align: center;
  text-transform: uppercase;
  font-size: 36px !important;
}

.tg-matchdate span {
  display: block;
  font-size: 14px;
  line-height: 14px;
}

.tg-matchdate span {color:#ff4a67}

.tg-ticket .tg-matchdetail {
  width: 350px;
  padding: 0 30px 0 0;
}

.tg-matchdetail {
  width: 100%;
  float: left;
  padding: 20px;
  z-index: 1;
  position: relative;
}

.tg-ticket:hover .tg-theme-tag {
  color: rgba(2, 39, 90, 1);
}

.tg-ticket .tg-theme-tag {
  float: left;    color: #ff4a67;
}

.tg-theme-tag {
  float: left;
  font-size: 13px;
  line-height: 20px;
  position: relative;
  text-align: center;
  background: rgba(2, 39, 90, 1);
  padding: 0 10px 1px 10px;
  text-transform: uppercase;
}

.tg-ticket h4 {
  width: 100%;
  float: left;
  margin: 7px 0;
  font-size: 18px !important;
  line-height: 24px;
  color: #ff4a67;
}

.tg-ticket:hover .tg-matchmetadata {
  color: #fff;
}

.tg-matchmetadata {
  margin: 0;
  width: 100%;
  float: left;
  color: rgba(2, 39, 90, 1);
  font-size: 14px;
  list-style: none;
  line-height: 17px;
}

.tg-matchmetadata li {
  float: left;
  line-height: 17px;
  position: relative;
  list-style-type: none;
}

.tg-matchmetadata li + li {
  padding: 0 0 0 10px;
}

.tg-matchmetadata li + li:before {
  left: 1px;
  bottom: 0;
  content: ',';
  position: absolute;
}

.tg-matchmetadata li address {
  margin: 0;
  line-height: 17px;
  font-style: normal;
}

.tg-btnsbox {
  float: right;
  padding: 12px 0;
}

.tg-btn {
  color: #ff4a67;
  border-color: #ff4a67;
  padding: 0 50px;
  background: rgba(2, 39, 90, 1);
  border: 1px solid;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  font: 700 14px/50px 'Oswald', Arial, Helvetica, sans-serif;
}

.tg-btnsbox .tg-btn + .tg-btn {
  margin: 0 0 0 30px;
}

.tg-btn:after {
  background: #fff !important;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  top: -50px;
  width: 50px;
  z-index: 5;
  position: absolute;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}



@media (max-width: 1199px) {
  .tg-matchdate {
    margin: 0 0 20px;
  }

  .tg-ticket .tg-matchdetail {
      padding: 0 20px 0 0;
  }

  .tg-ticket .tg-btnsbox {
    float: left;
    width: 100%;
    padding: 20px 0 0;
    text-align: center;
  }

  .tg-ticket .tg-btnsbox .tg-btn {
    float: none;
  }

  .tg-ticket .tg-btnsbox .tg-btn {
    width: 45%;
    padding: 0;
    text-align: center;
  }

  .tg-ticket .tg-btnsbox .tg-btn + .tg-btn {
    margin: 0 0 0 20px;
  }



}


 /* --------------------------- */

 .list-group-item.active {
  background-color: #ff4a67;
  border-color: #ff4a67;
}

/* update password */
.pass_show{position: relative} 
.pass_show .ptxt { position:absolute; top:50%; right:10px; z-index:1; color:#ff4a67; margin-top:5px; cursor:pointer; transition:.3s ease all;} 
.pass_show .ptxt:hover{color: #333333;} 


/* OverlaySpinner */

#overlaySpinner {
  background: rgba(0,0,92,0.5);
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
}
#overlaySpinner .spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid red;
    border-right-color: transparent;
    border-radius: 50%;
}
#overlaySpinner p {color:#fff;}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* User profile Tab Page */

.tabs-page {
  position: relative;
}
.tabs-page > .nav-tabs {
  position: relative;
  min-height: 50px;
  margin: 0;
  padding-left: 15px;
  text-align: left;
  cursor: auto;
  border: none;
  z-index: 1;
}
.tabs-page > .nav-tabs li[role="presentation"] {
  display: inline-block;
  height: 50px;
  border: none;
}
.tabs-page > .nav-tabs li[role="presentation"]:not(:last-child) {
  padding-right: 22px;
}
.tabs-page > .nav-tabs li[role="presentation"] a[role="tab"] {
  font-size:16px;
  height: 50px;
  margin: 0;
  padding: 0px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 92, 1);
  background: none;
  border: none;
  line-height: 50px;
  transition: color 0.3s ease, box-shadow 0.2s ease;
}
.tabs-page > .nav-tabs li[role="presentation"] a[role="tab"]:hover {
  color: #ff4a67;
}
.tabs-page > .nav-tabs li[role="presentation"].active a {
  color: #ff4a67;
  box-shadow: inset 0 -2px 0 #ff4a67;
  background: none;
}
.tabs-page > .nav-tabs li[role="presentation"].active a:hover, .tabs-page > .nav-tabs li[role="presentation"].active a:focus {
  background: none;
  border: none;
}
.tabs-page > .tab-content {
  position: relative;
  min-height: 500px;
  margin: 0;
  padding: 0;
  background: white;
  border-top: 1px solid #edeef4;
  border-bottom: 1px solid #edeef4;
}

.tabs-secondary {
  position: relative;
  text-align: center;
}
.tabs-secondary > .nav-tabs {
  display: inline-block;
  margin: 0 auto 15px;
  border-bottom: 1px solid #edeef4;
}
.tabs-secondary > .nav-tabs li[role="presentation"]:not(:last-child) {
  margin-right: 20px;
}
.tabs-secondary > .nav-tabs li[role="presentation"] a[role="tab"] {
  padding: 12px 0;
  font-size: 0.6875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 92, 1);
  border: none !important;
  background: none !important;
}
.tabs-secondary > .nav-tabs li[role="presentation"] a[role="tab"]:hover {
  color: #ff4a67;
}
.tabs-secondary > .nav-tabs li.active a[role="tab"] {
  color: #ff4a67;
  background: none;
  box-shadow: inset 0 -2px 0 0 #ff4a67;
}

/* 
Event Ticket */




.eventTicket .tile{
	width: 100%;
	background:#fff;
	border-radius:5px;
	box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
	float:left;
  	transform-style: preserve-3d;
  	margin: 10px 5px;

}

.eventTicket .header{
	border-bottom:1px solid #ebeff2;
	padding:19px 0;
	text-align:center;
	color:#59687f;
	font-size:600;
	font-size:19px;	
	position:relative;
}

.eventTicket .banner-img {
	padding: 5px 5px 0;
}

.eventTicket .banner-img img {
	width: 100%;
	border-radius: 5px;
}

.eventTicket .dates{
	border:1px solid #ebeff2;
	border-radius:5px;
	padding:20px 0px;
	margin:10px 20px;
	font-size:16px;
	color:#5aadef;
	font-weight:600;	
	overflow:auto;
}
.eventTicket .dates div{
	float:left;
	width:50%;
	text-align:center;
	position:relative;
}
.eventTicket .dates strong,
.eventTicket .stats strong{
	display:block;
	color:#adb8c2;
	font-size:11px;
	font-weight:700;
}
.eventTicket .dates span{
	width:1px;
	height:40px;
	position:absolute;
	right:0;
	top:0;	
	background:#ebeff2;
}
.eventTicket .stats{
	border-top:1px solid #ebeff2;
	background:#f7f8fa;
	overflow:auto;
	padding:15px 0;
	font-size:16px;
	color:#59687f;
	font-weight:600;
	border-radius: 0 0 5px 5px;
}
.eventTicket .stats div{
	border-right:1px solid #ebeff2;
	width: 33.33333%;
	float:left;
	text-align:center
}

.eventTicket .stats div:nth-of-type(3){border:none;}

.eventTicket div.footer {
	text-align: right;
	position: relative;
	margin: 20px 5px;
}

.eventTicket div.footer a.Cbtn{
	padding: 10px 25px;
	background-color: #DADADA;
	color: #666;
	margin: 10px 2px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

.eventTicket div.footer a.Cbtn-primary{
	background-color: #5AADF2;
	color: #FFF;
}

.eventTicket div.footer a.Cbtn-primary:hover{
	background-color: #7dbef5;
}

.eventTicket div.footer a.Cbtn-danger{
	background-color: #fc5a5a;
	color: #FFF;
}

.eventTicket div.footer a.Cbtn-danger:hover{
	background-color: #fd7676;
}

/* 
input:required:invalid, input:focus:invalid {
  background-image: url(../img/form/invalid1.png);
  background-position: right top;
  background-repeat: no-repeat;
} 
input:required:valid {
  background-image: url(../img/form/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
}
*/

/* Testimonial */

.testimonial .carousel {
	width: 800px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.testimonial .carousel .item {
	color: #fff;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.testimonial .carousel .item a {
	color: #eb7245;
}
.testimonial .carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.testimonial .carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.testimonial .carousel .testimonial {	
	padding: 30px 0 10px;
}
.testimonial .carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}

.testimonial .carousel .overview b {
	color: #ff4a67;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
  padding: 5px 10px;
}

.testimonial .carousel .carousel-control {
	width: 50px;
	height: 50px;
	border-radius: 50%;
    background: #ff4a67;
    text-shadow: none;
  top: 4px;
  opacity: 1;
}
.carousel-control i {
	font-size: 20px;
  margin-right: 2px;
  color:#fff;
}
.carousel-control.left {
	left: auto;
	right: 50px;
}
.carousel-control.right i {
	margin-right: -2px;
}
.testimonial .carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #ff4a67;
	border-color: transparent;
}
.carousel-indicators li.active {
	border: none;
	background: #f08718;		
}

 /* main  {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  main video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  main .container {
    position: relative;
    z-index: 2;
  }
  
  main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    main     {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    main video {
      display: none;
    }
  } */


/*
=====
CORE STYLES
=====
*/

.toggle {
  --uiToggleSize: var(--toggleSize, 1.25rem);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
  --uiToggleColor: var(--toggleColor, #222);

  display: var(--toggleDisplay, inline-flex);
  position: relative;
}

.toggle__input {
  /*
  The pattern by Sara Soueidan https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
  */
  width: var(--uiToggleSize);
  height: var(--uiToggleSize);
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

/*
1. Calculation of the gap for the custom checkbox
*/

.toggle__label {
  display: inline-flex;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--toggleIndent, 0.4em));
}

.toggle__input:not(:disabled) ~ .toggle__label {
  cursor: pointer;
}

/*
1. Ems helps to calculate size of the checkbox
*/

.toggle__label::after {
  content: "";
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  font-size: var(--uiToggleSize); /* 1 */

  background-color: transparent;
  border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);

  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.toggle__input:checked ~ .toggle__label::after {
  background-color: var(--uiToggleColor);
}

.toggle__text {
  margin-top: auto;
  margin-bottom: auto;
}

/*
The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle

1. Ems helps to calculate size and position of the arrow
*/

.toggle__label::before {
  content: "";
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize); /* 1 */

  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--toggleArrowColor, #fff);

  position: absolute;
  top: 0.5428em;
  left: 0.25em;
  z-index: 3;

  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
}

.toggle__input:checked ~ .toggle__label::before {
  --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);

  width: 0.4em;
  height: 0.2em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
}

/*
States
*/

/* focus state */

.toggle:focus-within {
  outline: var(--toggleOutlineWidthFocus, 3px) solid
    var(--toggleOutlineColorFocus, currentColor);
  outline-offset: var(--toggleOutlineOffsetFocus, 5px);
}

/* disabled state */

.toggle__input:disabled ~ .toggle__label {
  opacity: var(--toggleOpacityDisabled, 0.24);
  cursor: var(--toggleCursorDisabled, not-allowed);
  user-select: none;
}

/*
=====
PRESENTATION STYLES
=====
*/

/* 
The demo skin
*/

.toggle__label::after {
  border-radius: var(--toggleBorderRadius, 2px);
}

/* 
The animation of switching states
*/

.toggle__input:not(:disabled) ~ .toggle__label::before {
  will-change: width, height;
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label::before {
  opacity: 1;
  transition: opacity 0.1s ease-out 0.25s, width 0.1s ease-out 0.5s,
    height 0.2s ease-out 0.3s;
}

.toggle__input:not(:disabled) ~ .toggle__label::after {
  will-change: background-color;
  transition: background-color 0.2s ease-out;
}

/*
=====
SETTINGS
=====
*/

.page__custom-settings {
  --toggleColor: #690e90;
  --toggleOutlineColorFocus: #690e90;
  --toggleSize: 2rem;
}

/*
=====
DEMO
=====
*/

body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans,
    Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.page {
  box-sizing: border-box;
  max-width: 45rem;
  padding: 2.75rem 2rem 2.5rem;
  margin: auto;

  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.page__section {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
}

.page__section:nth-child(n + 2) {
  /* margin-top: 3rem; */
}

.page__custom-settings {
  --pageToggleTextFontSize: 0.85rem;
}

.page__name {
  width: 100%;
}

.page__name::first-letter {
  text-transform: uppercase;
}

.page__toggle {
  margin-top: 1.25rem;
  margin-right: 1.5rem;
  font-size: var(--pageToggleTextFontSize);
}

 