/*!
 * Custom CSS
 */

 .list-group-item.active {
  background-color: #f20c3a;
  border-color: #f20c3a;
}


/* OverlaySpinner */

#overlaySpinner {
  background: rgba(0,0,92,0.5);
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
}
#overlaySpinner .spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid red;
    border-right-color: transparent;
    border-radius: 50%;
}
#overlaySpinner p {color:#fff;}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 
input:required:invalid, input:focus:invalid {
  background-image: url(../img/form/invalid1.png);
  background-position: right top;
  background-repeat: no-repeat;
} 
input:required:valid {
  background-image: url(../img/form/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
}
*/

/* Testimonial */

.testimonial .carousel {
	width: 800px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.testimonial .carousel .item {
	color: #fff;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 340px;
}
.testimonial .carousel .item a {
	color: #eb7245;
}
.testimonial .carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.testimonial .carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.testimonial .carousel .testimonial {	
	padding: 30px 0 10px;
}
.testimonial .carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}

.testimonial .carousel .overview b {
	color: #ff4a67;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
  padding: 5px 10px;
}

.testimonial .carousel .carousel-control {
	width: 50px;
	height: 50px;
	border-radius: 50%;
    background: #f20c3a;
    text-shadow: none;
  top: 4px;
  opacity: 1;
}
.carousel-control i {
	font-size: 20px;
  margin-right: 2px;
  color:#fff;
}
.carousel-control.left {
	left: auto;
	right: 50px;
}
.carousel-control.right i {
	margin-right: -2px;
}
.testimonial .carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #f20c3a;
	border-color: transparent;
}
.carousel-indicators li.active {
	border: none;
	background: #f08718;		
}

 /* main  {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  main video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  main .container {
    position: relative;
    z-index: 2;
  }
  
  main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    main     {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    main video {
      display: none;
    }
  } */



 