<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
                <h1 class="page-title">Schedules</h1>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End--> 

<!-- Events Section Start -->
   <section id="events" class="schedule section-padding">
      <div class="container">

        <div class="row">

          <div class="col-12">
            <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
              <div class="schedule-tab-content new col-12 clearfix">
   
      
                <div class="row">

                	<!-- <div class="card">
								    <div class="card-horizontal">
							        <div class="img-square-wrapper">
							            <img class="img-fluid" src="assets/img/event/1-virtual-group-running-challenge.jpg" alt="">
							        </div>
							        <div class="card-body">	

					        			<div class="row text-center mb-2">
						              <div class="col-sm-6">
						                <div>Date</div>
						                <div class="h5">06-May-2021</div>
						              </div>
						              <div class="col-sm-6">
						                <div>Time</div>
						                <div class="h5">10:00 Am to 11:30PM</div>
						              </div>
						            </div>

						            <div class="text-center m-b clearfix">
						                <div class="h4 font-thin m-t-sm">Virtual group running challenge</div>  
						            </div>

						            <div class="text-center m-b clearfix">
						                <a href="" class="m-t-sm">Zoom Link</a>  
						            </div>					        		

							        </div>								        
								    </div>
								    
									</div> -->

                    <div class="col-12">
                        <div class="blog-item">
                          <div class="blog-image">
                            <img class="img-fluid" src="assets/img/event/1-virtual-group-running-challenge.jpg" alt="">
                          </div>
                          <div class="descr w100p">   

		                        <div class="row text-center mb-2 padder-v">
								              <div class="col-sm-6 b-r">
								                <div>Date</div>
								                <div class="h5">06-May-2021</div>
								              </div>
								              <div class="col-sm-6">
								                <div>Time</div>
								                <div class="h5">10:00 Am to 11:30PM</div>
								              </div>
								            </div>

								            <h3 class="title">Virtual group running challenge</h3>
														<a href="" class="m-t-sm">Zoom Link</a>  						    
                 
                          </div>                          
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="blog-item">
                          <div class="blog-image">
                            <img class="img-fluid" src="assets/img/event/2-virtual-individual-running-challenge.jpg" alt="">
                          </div>
                          <div class="descr w100p">   

		                        <div class="row text-center mb-2 padder-v">
								              <div class="col-sm-6 b-r">
								                <div>Date</div>
								                <div class="h5">06-May-2021</div>
								              </div>
								              <div class="col-sm-6">
								                <div>Time</div>
								                <div class="h5">10:00 Am to 11:30PM</div>
								              </div>
								            </div>

								            <h3 class="title">Virtual individual running challenge</h3>
														<a href="" class="m-t-sm">Zoom Link</a>  						    
                 
                          </div>      
                          
                        </div>
                    </div>                    

                </div>         

           
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- Events Section End -->

