<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
            <h1 class="page-title">Participating Schools</h1>
            <ul>
                <li><a class="active" href="#" routerLink="/participants">Participants</a></li>
                <li>Participating Schools</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End--> 

<!-- Participating Schools Section Start -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 text-center" >
                <b>Content goes here</b> <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</section>
<!-- Participating Schools Section End -->
