<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
            <h1 class="page-title">Participating Schools 2019</h1>
            <ul>
                <li><a class="active" href="#" routerLink="/">Home</a></li>
                <li>Participating Schools 2019</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End--> 

<!-- Participating Schools Section Start -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Participating Schools 2019</h2>
                <p class="wow fadeInDown" data-wow-delay="0.2s"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-xs-8 offset-xs-2 text-left">  
                <ul class="list-group">
                    <li class="list-group-item active">HEC Paris</li>
                    <li class="list-group-item">Dapibus</li>
                    <li class="list-group-item">Cranfield School of Management</li>
                    <li class="list-group-item">EDHEC Business School</li>
                    <li class="list-group-item">ESSEC Business School</li>
                    <li class="list-group-item">Frankfurt School of Finance</li>
                    <li class="list-group-item">IE Business School</li>
                    <li class="list-group-item">IESE Business School</li>
                    <li class="list-group-item">Imperial College of London</li>
                    <li class="list-group-item">INSEAD</li>
                    <li class="list-group-item">International Institute for Management Development</li>
                    <li class="list-group-item">London Business School</li>
                    <li class="list-group-item">Manchester University</li>
                    <li class="list-group-item">National University of Singapore</li>
                    <li class="list-group-item">Oxford</li>
                    <li class="list-group-item">Rotterdam School of Management</li>
                    <li class="list-group-item">SDABocconi</li>
                    <li class="list-group-item">TIAS School University of St Gallen</li>
                    <li class="list-group-item">University of St Gallen</li>
                    <li class="list-group-item">Warwick Business School</li>
                  </ul>
            </div>
        </div>
    </div>
</section>
<!-- Participating Schools Section End -->
