<!-- Page Header Start -->
<div class="page-header">      
  <div class="container"> 
      <div class="row">
      <div class="col-12">
          <div class="page-header-inner text-center">   
          <h1 class="page-title">User Profile</h1>
          <ul>
              <li><a class="active" href="#" routerLink="/">Home</a></li>
              <li>User Profile</li>
          </ul>
          </div>
      </div>
      </div>
  </div>
</div>
<!-- Page Header End-->

<!-- User Profile Section Start -->
<section id="FAQs" class="schedule section-padding">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">User Profile</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s"></p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-8">

            <div class="parent">
              <div class="box-one">

                <table class="table table-borderless" *ngIf="auth.userInfoDetails$ | async as profile">
                  <tr>
                    <th>Name:</th>
                    <td>{{profile.fullName}}</td>
                  </tr>
                  <tr>
                    <th>Email:</th>
                    <td>{{profile.email}}</td>
                  </tr>
                  <tr>
                    <th>Telephone:</th>
                    <td>{{profile.phoneNumber}}</td>
                  </tr>
                  <tr>
                    <th>School:</th>
                    <td>{{profile.schoolName}}</td>
                  </tr>
                </table>
                

                <div style="margin-top:50px;">
                  <a class="contact-link" target="_blank" href="">Download Ticket</a> </div>
              </div>
              <div class="box-two">
                <div class="image">
                  <img src="./assets/img/blog/img-1.jpg" >
                </div>
              </div>
            </div>

          </div>
          <div class="col-4">
            <div class="ticket-card active">
              <div class="cover">
                <img src="./assets/img/mbat-logo-black.png" width="100px" alt="" />
                <div class="info">
                  <div class="going">
                    <i class="fa fa-group"></i> Username
                  </div>
                  <div class="tickets-left">
                    <i class="fa fa-ticket"></i> Email Id
                  </div>
                </div>
              </div>
              <div class="body">
                <div class="artist">
                  <h6 class="info">MBAT2020</h6>
                  <h4 class="name">HEC Paris</h4>
                </div>
                <div class="price">
                  <div class="from">Price</div>
                  <div class="value">
                    <b>&euro;</b>620
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="info">
                  <p class="location">
                    <i class="fa fa-map-marker"></i> Event Date
                  </p>
                  <p class="date">
                    <i class="fa fa-calendar"></i> May 7-9  2020
                  </p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="collapse in">
                <ul class="list-unstyled">
                  <li>
                    <div class="ticket">
                      <h5>Event Ticket<br>
                        <small>Username</small>
                      </h5>
                    </div>
                    <div class="price">
                      <div class="value"><b>&euro;</b>420</div>
                    </div>                    
                  </li>
                  <li>
                    <div class="ticket">
                      <h5>Early Bird Ticket<br>
                      <small>1 Purchase</small>
                    </h5>
                    </div>
                    <div class="price">
                      <div class="value"><b>&euro;</b>420</div>
                    </div>  
                  </li>
                  <li>
                    <div class="ticket">
                      <h5>Bracelet<br>
                        <small>1 Purchase</small>
                    </h5>
                    </div>
                    <div class="price">
                      <div class="value"><b>&euro;</b>150</div>
                    </div>
 
                  </li>
                  <li>
                    <div class="ticket">
                      <h5>Bracelet Topup<br>
                      <small>1 Purchase</small>
                    </h5>
                    </div>
                    <div class="price">
                      <div class="value"><b>&euro;</b>50</div>
                    </div>

                  </li>
                </ul>
              </div>
              <div class="footer">
                <button class="btn toggle-tickets">Hide Tickets Details</button>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
<!-- User Profile Section End -->


