<!-- Page Header Start -->
<div class="page-header">      
  <div class="container"> 
      <div class="row">
      <div class="col-12">
          <div class="page-header-inner text-center">   
            <h1 class="page-title">Privacy Policy</h1>
          </div>
      </div>
      </div>
  </div>
</div>
<!-- Page Header End--> 

<!-- Privacy Policy Section Start -->
<section id="FAQs" class="schedule section-padding">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Privacy Policy</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s"></p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
                  <div class="schedule-tab-content col-12 clearfix">

                    We will update you this <b>Privacy Policy</b> shortly ..
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Privacy Policy Section End -->
