.container-form .form-wrapper .form-control{padding: 7px 30px 7px 19px;}
.container-form .form-wrapper .form-control{border: 1px solid #ced4da;;}
.form-control {border-radius:0 !important;}
.btn.btn-common {border-radius: 0;}
.container-form .b-b {border-bottom: 1px solid #ced4da;}