<!-- Page Header Start -->
<div class="page-header">      
    <div class="container"> 
        <div class="row">
        <div class="col-12">
            <div class="page-header-inner text-center">   
                <h1 class="page-title">Admin</h1>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Page Header End--> 

<!-- Section Area Start -->
<section class="section-padding p-2">
	<div class="container-fluid">

	  <div class="row justify-content-center">
	    <div class="col-lg-12 col-md-12 col-xs-12">
	      <div class="container-form">
	        
	        <div class="form-wrapper px-4 py-2 b-b">
	          <form role="form" method="post" id="leaderPointsForm" name="leaderPoints-form" data-toggle="validator">

	            <div class="row">

	              <div class="col-md-12 text-center">
	                <h2 class="p-4">Leader Points</h2>
	              </div>

	              <div class="col-md-4 form-line">

	              	<div class="form-group" id="">

                    <label class="form-control-label" for="list_school">Select School <abbr class="text-danger" title="This is required">*</abbr></label>
                    <select class="form-control" #mySelect (change)='onSchoolSelected(mySelect.value)' id="list_school">
                      <option value="" selected disabled hidden>Please Select School</option>
					  					<option *ngFor='let option of schools' [value]="option.id">{{option.name}}</option>
                    </select>

                  </div> 

                </div>

                <div class="col-md-6 form-line">

                  <div class="form-group">
                  	<label class="form-control-label" for="enter_points">Enter Points <abbr class="text-danger" title="This is required">*</abbr></label>
	                  <input type="text" class="form-control" id="surname" (keyup)="onPointChange($event)" [value]="points" name="surname" placeholder="Points" required data-error="Please Enter Points">
	                  <div class="help-block with-errors"></div>
	                </div>

	              </div>

	              <div class="col-md-2 mt-4 form-line">
	                <div class="form-submit pt-2">
	                  <button type="submit" (click)="updatePoints()" class="btn btn-common" id="update-leaderPoint">Update</button>	                  
	                </div>
	              </div>
	              
	            </div>
	          </form>
	        </div>

	        <div class="form-wrapper px-4 py-2">
	          <form role="form" method="post" id="questionsForm" name="questions-form" data-toggle="validator">

							<div class="col-md-12 text-center">
                <h2 class="p-4">Questions</h2>
              </div>

              <!-- No Questions -->
              <div class="card bg-grey text-dark">				

					    	<div class="row py-2">

					    		<div class="col-md-11 font-weight-bold"><span class="pl-4">No Questions</span></div>

					    		<div class="col-md-1">			  
									  <div class="text-center">
										  <input class="form-check-input" type="radio">									  
										  <div class="help-block with-errors"></div>
									  </div>						  
									</div>					

					    	</div>
						
						  </div>
						  <!-- No Questions -->

						  <br>

	            <div class="row" *ngFor='let question of questions let i = index'>              
				
                <div class="col-md-3 form-line">

                  <div class="form-group">
                  	<label class="form-control-label" for="enter_questions">Enter Questions <abbr class="text-danger" title="This is required">*</abbr></label>
	                  <input type="text" class="form-control" id="{{question.questionId + 'QuestionField'}}" (keyup)="onQuestionChange($event)" name="questions" [value]="question.question" placeholder="Enter Questions" required data-error="Please Enter Questions">
	                  <div class="help-block with-errors"></div>
	                </div>

	              </div>

	              <div class="col-md-2 form-line">

                  <div class="form-group">
                  	<label class="form-control-label" for="enter_options">Enter Options <abbr class="text-danger" title="This is required">*</abbr></label>
	                  <input type="text" class="form-control" id="{{question.questionId + 'OptionsField'}}" (keyup)="onOptionsChange($event)" name="options" [value]="question.options" placeholder="options" required data-error="Please Enter Options" >
	                  <div class="help-block with-errors"></div>
	                </div>

	              </div> 

	              <div class="col-md-2 form-line">

	              	<div class="form-group" id="">

                    <label class="form-control-label" for="enter_time">Select Time<abbr class="text-danger" title="This is required">*</abbr></label>
                    <input type="text" class="form-control" id="{{question.questionId + 'TimeField'}}" (keyup)="onTimeChange($event)" name="time" [value]="question.expireBy" placeholder="Enter Time" required data-error="Please Enter Time" >

                  </div> 

                </div>

	              <div class="col-md-2 mt-4 form-line">
	                <div *ngIf="question.questionId !== 'newQuestion'" class="form-submit pt-2">
	                  <button type="submit" (click)="updateQuestion($event)" class="btn btn-common" id="{{question.questionId + 'UpdateField'}}">Update</button>
	                </div>
	                <div *ngIf="question.questionId === 'newQuestion'" class="form-submit pt-2">
	                  <button type="submit" (click)="addQuestion()" class="btn btn-common" id="{{question.questionId + 'AddField'}}">Add</button>
	                </div>
	              </div>
	              <div class="col-md-2 mt-4 form-line">
	                <div class="form-submit pt-2">
	                  <button type="submit" (click)="deleteQuestion($event)" class="btn btn-common" id="{{question.questionId + 'DeleteField'}}">Delete</button>
	                </div>
	              </div>

							  <div class="col-md-1 form-line" *ngIf="question.questionId !== 'newQuestion'">
			  
								  <label class="form-control-label" for="stateRadios"><abbr class="text-danger" title="This is required"></abbr></label>
								  <div class="form-check text-center">
									  <input class="form-check-input" type="radio" (change)="onStateChange($event)" name="stateRadios" id="{{question.questionId + 'StateField'}}" value="option1" [checked]="question.active">									  
									  <div class="help-block with-errors"></div>
								  </div>
			  
								</div>
	              
	            </div>
	          </form>
	        </div>

	        <div class="col-md-12 pb-4 bg-white">

            <div class="col-sm-4 mx-auto form-submit pt-2">
              <button type="submit" (click)="addQuestionTemplate()" class="btn btn-common" id="add-question" [disabled]="disableAddButton">Add Question</button>	                  
            </div>

          </div> 

          <!-- Vote Result Start -->
          <div class="col-md-12 pb-4 bg-green-lt-15">

          	<div class="col-md-12 text-center">
              <h2 class="p-4">Voting Result</h2>
            </div>

            <div class="row">
            	<div class="col-3" *ngFor='let votes of groupByQuestionAndOption let i = index'>
	            	<ul class="mb-2 list-group">
							  	<div href="#" class="list-group-item list-group-item-action active">Question: {{votes.question}}?</div>
								  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor='let vote of votes.votes let i = index'>
								  	{{vote.option}}
								    <h5><span class="badge badge-success">{{vote.votes}}</span></h5>
								  </li>
								</ul>	
							</div>	          

						</div>

					</div>
					<!-- Vote Result End -->   
 

	      </div>
	    </div>
	  </div>



	  






<!-- 	  <div class="card bg-grey">	
    	<div class="row" *ngFor='let votes of groupByQuestionAndOption let i = index'>
			  <div class="col-md-4">{{votes.question}}</div>
			  <div class="col-md-2" *ngFor='let vote of votes.votes let i = index'>
				  {{vote.option}} : {{vote.votes}}
				</div>
		  </div>	
	  </div>
 -->

	  


	  <div id="overlaySpinner" *ngIf="visible">
		<div class="spinner"></div>
		<br/><p>Loading...</p>
	  </div>
	  
	  <div class="modal fade" id="successfulModal">
		<div class="modal-dialog modal-dialog-scrollable modal-lg">
		  <div class="modal-content">
			<div class="modal-body p-5 text-center bg-green-lt">
			  <h5 class="text-success">{{succesText}}</h5> 
			</div>
			<div class="modal-footer centerAlign">
			  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
	  
		  </div>
		</div>
	  </div>
	  
	</div>
</section>
<!-- Section Area End -->