<div class="row ">
  <div class="col-sm-7 mx-auto">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row ">
        <div class="col-sm-9 form-group">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            class="form-control"
            ngModel
            name="title"
            required
          />
        </div>
        <div class="col-sm-3 form-group">
          <label for="price">Price</label>
          <input
            type="text"
            id="price"
            class="form-control"
            ngModel
            name="price"
            required
            pattern="^[1-9]+[0-9]*"
          />
        </div>
        <div class="col-sm-12 form-group">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            class="form-control"
            ngModel
            name="description"
            required
          />
        </div>
        <div class="col-sm-12 form-group">
          <label for="image">Image URL</label>
          <input
            type="text"
            id="image"
            class="form-control"
            ngModel
            name="image"
            required
            #image
          />
        </div>
        <div class="col-sm-12 ">
          <img class="image" [src]="image.value" />
        </div>
      </div>

      <div class="row  ">
        <div class="col-xs-12 ml-3">
          <button
            class="my-btn btn-purple mr-1"
            type="submit"
            [disabled]="!f.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="my-btn btn-pink mr-1"
            type="button"
            *ngIf="editMode"
            (click)="onDelete()"
          >
            Delete
          </button>
          <button class="my-btn btn-secondary mr-1" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row ">
        <div class="col-xs-12 ml-3">
          <button
            class="btn btn-warning mt-1"
            type="button"
            (click)="addTestProduct()"
          >
            Add Test Product
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
