
<!-- Page Header Start -->
<div class="page-header">      
  <div class="container"> 
      <div class="row">
      <div class="col-12">
          <div class="page-header-inner text-center">   
            <h1 class="page-title">Ticket Pricing</h1>
          </div>
      </div>
      </div>
  </div>
</div>
<!-- Page Header End--> 

<!-- Ticket Pricing Section Start -->
<section id="FAQs" class="schedule section-padding">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title-header text-center">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Ticket Pricing</h2>
                <p class="wow fadeInDown" data-wow-delay="0.2s"></p>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-12">

            

            <!-- <div>
              <label>Ticket Type: </label>
              <select>
                <option value="0">--All Tickets--</option>
                <option *ngFor="let item of shopItems" value={{item.title}}>
                  {{item.title}}
                </option>
              </select>
            </div> -->





            <!-- <label>Ticket Type</label>
            <select class="form-control select2" formControlName="replytype" type="text" style="width: 100%;" [(ngModel)]="optionValue">
              <option value="super-early-bird" selected>Super Early Bird</option>
              <option value="early-bird">Early Bird</option>
              <option value="regular">Regular</option>
              <option value="last-minute-tickets">Last minute Tickets</option>
              </select> -->

            <div class="shop-list mx-auto">
              <div class="shop-card" *ngFor="let item of shopItems">
                <div class="shop-card__img">
                  <img [src]="item.image" class="img" [alt]="item.title" />
                  <div class="shop-card__edit-btn" (click)="onEditItem(item.id)">
                    <fa-icon [icon]="faCog"></fa-icon>
                  </div>
                </div>                
                <div class="shop-card__info">
                  <div class="shop-card__label">
                    <div class="shop-card__title">{{ item.title }}</div>
                    <div class="shop-card__price">&euro; {{ item.price }}</div>
                  </div>
                  <div class="shop-card__description">{{ item.description }}</div>
                  <button class="btn btn-common btn-sn" (click)="onAddToCard(item)">
                    <p>
                      Add to Cart
                      <i class='lni lni-cart ml-2'></i>
                    </p>
                  </button>
                </div>
              </div>
            </div>

          </div>
      </div>
  </div>
</section>
<!-- Ticket Pricing Section End -->

<app-loading-animation *ngIf="loading"> </app-loading-animation>
