<!-- About Section Start -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="img-thumb">
          <img class="img-fluid" src="assets/img/about/img1.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12">
        <div class="about-content">
          <div>
            <div class="about-text">  
              <h2>Welcome To The 30th MBA Tournament</h2>
              <p>The HEC MBA Tournament, or MBAT, is an annual sporting event for MBA students that brings together top-ranked MBA students from around the world. </p>

              <p>Organized by HEC Paris MBA students, a leading business school in Europe, the tournament is the continent's largest annual gathering of MBA students. Over 1500 international future business leaders visit our campus every May for heated competition, friendly rivalries, and passionate celebrations. </p>

              <p>MBAT consists of both sporting competitions, festivities, and cultural exchange - all taking place on the the beautiful HEC Paris campus and select venues in the surrounding vicinity of Jouy-en-Josas. </p> 
              
              <p class="font-weight-bold">Additionally.. </p>  

            </div>
            <ul class="stylish-list mb-3">
              <li><i class="lni-check-mark-circle"></i>Dance Competition</li>
              <li><i class="lni-check-mark-circle"></i>Silent Disco</li>
              <li><i class="lni-check-mark-circle"></i>Battle of Bands</li>
              <li><i class="lni-check-mark-circle"></i>Forest Party</li>
              <li><i class="lni-check-mark-circle"></i>Fashion Show</li>
              <li><i class="lni-check-mark-circle"></i>GALA Dinner</li>
            </ul>
            <a class="btn btn-common" href="assets/downloads/MBAT2020_Brochure.pdf">Download the Welcome Brochure</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->