<!-- About Section Start -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="img-thumb">
          <img class="img-fluid" src="assets/img/home-left-thumb-2.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="about-content">
          <div>
            <div class="about-text">  
              <h2>Welcome To The 30th MBA Tournament</h2>
              <p>The HEC MBA Tournament, or MBAT, is an annual sporting event that brings together MBA students from top-ranked business  schools around the world. </p>
              
              <p>Organized by MBA students of HEC Paris, a leading business school in Europe, the tournament is the continent's largest annual gathering of MBA students. Over 1500 international future business leaders visit our campus every May for heated competition, friendly rivalries, and passionate celebrations. </p>

              <p>MBAT consists of sporting competitions, festivities, and cultural exchange - all taking place on the the beautiful HEC Paris campus and select venues in the vicinity of Paris. </p> 

            </div>
            <a class="btn btn-common" href="assets/downloads/MBAT2020_Brochure.pdf">Download the Welcome Brochure</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->