<!-- Intro Section Start -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="about-content">

          <div class="about-text text-center">  
            <h2>Get ready for the 30th MBA Tournament</h2>
            <p>The HEC MBA Tournament, or MBAT, is an annual sporting event that brings together MBA students from top-ranked business  schools around the world. </p>
            
            <p>Organized by MBA students of HEC Paris, a leading business school in Europe, the tournament is the continent's largest annual gathering of MBA students. Over 1500 international future business leaders visit our campus every May for heated competition, friendly rivalries, and passionate celebrations. </p>

            <p>MBAT consists of sporting competitions, festivities, and cultural exchange - all taking place on the beautiful HEC Paris campus and at select venues in the vicinity of Paris. </p>             

            <a class="btn btn-common" href="assets/downloads/MBAT_2021_brochure.pdf" target="_blank">Download the Welcome Brochure</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Intro Section End -->

<!-- Dean Section Start -->
<section class="section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-12 col-xs-12">
              <!-- Team Item Starts -->
              <div class="team-item brand-white-bg box-shadow-none text-center wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
          
                  <div class="team-img">
                      <img class="img-fluid" src="assets/img/dean.png" alt="">
                  </div>
     
   
                  <div class="info-text">
                      <h3>Andrea Masini</h3>
                      <p>Associate Dean Of HEC Paris MBA</p>
                  </div>
       
              </div>
              <!-- Team Item Ends -->
            </div>

            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="about-content">
                <div>
                    <div class="about-text">  
                    <h2>Dean's message</h2>

                    <p>The MBAT is always one of the major highlights of the calendar at HEC Paris MBA and is the biggest gathering of MBA students in Europe. Given the challenges that we have faced over the last months, we have completely redesigned the MBAT this year, while still keeping the core of the competition. We are very excited to welcome you to the first ever virtual MBAT.</p>

                    <p>While the format of the MBAT will be different this year, its spirit, and the values it represents remain unchanged. The three days of MBAT unite over 1500 participants from around the world, making it an unparalleled opportunity to network, exchange cultures, and foster lifelong connections. The MBAT is a unique event, an opportunity to exercise your teamwork and leadership skills, as well as your sporting prowess. </p>

                    <p>We look forward to sharing this fantastic experience with you. Let's get together again.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Dean Section End -->

<!-- Social Media Section Start -->
<section id="pricing" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Social Media Feeds</h2>
          <br />
        </div>
      </div>
    </div>
    <div class="row feedBox">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xa-12 mb-3">
        <div class="price-block-wrapper active wow fadeInLeft" data-wow-delay="0.2s">
          <div class="colmun-title">
            <h5>Facebook Feed</h5>            
          </div>

          <div class="pricing-list">

            <div class="fbBox">

              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMBATournament%2F&tabs=timeline%2Cevents%2Cmessages&width=434&height=570&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="570" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" class="fbIframe"></iframe>
      
            </div>            

          </div>         

        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xa-12 mb-3">
        <div class="price-block-wrapper active wow fadeInUp" data-wow-delay="0.3s">
          <div class="colmun-title">
            <h5>Instagram Feed</h5>
          </div>
          <div class="pricing-list">  
	          <div class="igBox">        	
	          	<instagram-widget username="@hecmbat" grid="3x3"></instagram-widget> 
	          </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Social Media Section End -->

<!-- Sponsors Section Start -->
<section id="sponsors" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h2 class="section-title brand-primary-text wow fadeInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">Sponsors &amp; Partners</h2>
          <h5 class="brand-primary-text wow fadeInDown animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;"><b>Want to participate in the success of the 30th MBA Tournament 2021?</b></h5>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <a href="#" class="btn btn-common" routerLink="/sponsors" fragment="sponsorsPage">I want to be a partner</a>
      </div>
    </div>
  </div>
</section>
<!-- Sponsors Section Start -->

