<!-- Page Header Start -->
<div class="page-header">      
  <div class="container"> 
      <div class="row">
      <div class="col-12">
          <div class="page-header-inner text-center">   
            <h1 class="page-title">Register</h1>
          </div>
      </div>
      </div>
  </div>
</div>
<!-- Page Header End--> 

<!-- FAQs Section Start -->
<section id="FAQs" class="schedule section-padding">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
                  <div class="schedule-tab-content col-12 clearfix">

                    <section class="bg-white">

                      <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 align-self-center">
                                <div class="card card-body">

                                  <div class="section-title-header text-center">
                                    <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Already Registered</h2>     
                                  </div>                                  

                                  <div *ngIf="isBuyTicketFlow; else notTicketFlow">
                                    <button class="btn btn-primary btn-block mt-6 btn-sm" (click)="auth.login('/product-list')">Login</button>
                                  </div>
                                  <ng-template #notTicketFlow>
                                    <button class="btn btn-primary btn-block mt-6 btn-sm" (click)="auth.login()">Login</button>
                                  </ng-template>              

                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-body bg-light">

                                      <div class="section-title-header text-center">
                                        <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Register</h2>     
                                      </div>  
                                      
                                      <form class="needs-validation" novalidate id="bootstrapForm">

                                        <div class="form-group">
                                          <label class="form-control-label" for="reg_firstName">First Name <abbr class="text-danger" title="This is required">*</abbr></label>
                                          <input type="text" class="form-control" (keyup)="OnFirstName($event)" placeholder="First Name" name="i1" id="reg_firstName" required>
                                          
                                          <!-- <div class="text-danger"><small>{{firstNameError}}</small></div> -->
                                          <div class="valid-feedback">First Name looks good</div>
                                          <div class="invalid-feedback">Please enter your First Name.</div>
                                        </div>     
                                        
                                        <div class="form-group">
                                          <label class="form-control-label" for="reg_lastName">Last Name <abbr class="text-danger" title="This is required">*</abbr></label>
                                          <input type="text" class="form-control" (keyup)="OnLastName($event)" placeholder="Last Name" name="i1" id="reg_lastName" required>
                                          
                                          <!-- <div class="text-danger"><small>{{lastNameError}}</small></div> -->
                                          <div class="valid-feedback">Last Name looks good</div>
                                          <div class="invalid-feedback">Please enter your Last Name.</div>
                                        </div> 

                                        <div class="form-group">
                                          <label class="form-control-label" for="reg_email">Email <abbr class="text-danger" title="This is required">*</abbr></label>
                                          <input type="email" class="form-control" (keyup)="OnEmail($event)" placeholder="Email" id="reg_email" required>
                                          
                                          <!-- <div class="text-danger"><small>{{emailError}}</small></div> -->
                                          <div class="valid-feedback">Email looks good</div>
                                          <div class="invalid-feedback">Please enter your Email.</div>
                                        </div>

                                        <div class="form-group">
                                          <label class="form-control-label" for="reg_phoneNumber">Phone Number <abbr class="text-danger" title="This is required">*</abbr></label>
                                          <input type="number" class="form-control" (keyup)="OnPhoneNumber($event)" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="reg_phoneNumber" required>
                                          
                                          <!-- <div class="text-danger"><small>{{phoneNumberError}}</small></div> -->
                                          <div class="valid-feedback">Phone Number looks good</div>
                                          <div class="invalid-feedback">Please enter your Phone Number.</div>
                                        </div>  

                                        <div class="form-group">
                                          <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                              <label class="form-control-label" for="reg_password">Password <abbr class="text-danger" title="This is required">*</abbr></label>
                                              <input type="password" class="form-control" (keyup)="OnPassword($event)" placeholder="Password" id="reg_password" required>
                                              <div class="valid-feedback">Password looks good</div>
                                              <div class="invalid-feedback">Please enter your Password.</div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                              <label class="form-control-label" for="reg_confirmPassword">Confirm Password <abbr class="text-danger" title="This is required">*</abbr></label>
                                              <input type="password" class="form-control" (keyup)="OnConfirmPassword($event)" placeholder="Confirm Password" id="reg_confirmPassword" required>
                          
                                            <div *ngIf="passwordError; else jqueryErrorMessage"> 
                                                <div class="text-danger"><small>{{passwordError}}</small></div> 
                                              </div>
                                              <ng-template #jqueryErrorMessage>
                                                  <div class="valid-feedback">Password looks good</div>
                                                  <div class="invalid-feedback">Please enter your Password.</div>
                                              </ng-template>
                                            </div>
                                          </div>
                                                                                   
                                        </div>  

                                        <div class="form-group" id="blk">

                                          <label class="form-control-label" for="reg_school">School <abbr class="text-danger" title="This is required">*</abbr></label>
                                          <select class="form-control" #mySelect (change)='onOptionsSelected(mySelect.value)' id="reg_school" required>
                                            <option value="" selected disabled hidden>Please Select School</option>
                                            <option *ngFor='let option of dropDownData' [value]="option.id">{{option.name}}</option>
                                          </select>

                                          <!-- <div class="text-danger"><small>{{schoolError}}</small></div> -->
                                          <div class="valid-feedback">School looks good</div>
                                          <div class="invalid-feedback">Select your School.</div>   

                                        </div> 

                                        <div class="form-group">
                                          <label class="form-control-label" for="reg_program">Select Program <abbr class="text-danger" title="This is required">*</abbr></label>
                                          <div class="row">
                                            <div class="col-sm-4"><label><input id="rdb1" type="radio" (change)="OnProgramChange($event)" name="toggler" value="1" /> MBA</label></div>
                                            <div class="col-sm-4"><label><input id="rdb2" type="radio" (change)="OnProgramChange($event)" name="toggler" value="2" /> Other</label></div>
                                          </div>
                                        </div>

                                        <div class="form-group mt-4" id="blk-2" class="toHide" style="display:none">

                                          <label class="form-control-label" for="reg_programName">Enter your Program <abbr class="text-danger" title="This is required">*</abbr></label>
                                          <input type="text" class="form-control" (keyup)="OnOtherProgram($event)" placeholder="Enter Program Name" name="i1" id="reg_programName" required>
                                          
                                          <!-- <div class="text-danger"><small>{{firstNameError}}</small></div> -->
                                          <div class="valid-feedback">Entered Program looks good</div>
                                          <div class="invalid-feedback">Please enter your Program.</div>

                                        </div>


                                        <div class="form-group mt-4">

                                          <label class="form-control-label" for="reg_graduationYear">Enter Year of graduation <abbr class="text-danger" title="This is required">*</abbr></label>
                                          <input type="text" class="form-control" (keyup)="OnGraduationYear($event)"  placeholder="Enter Year of graduation" name="i1" id="reg_graduationYear" required>
                                          
                                          <!-- <div class="text-danger"><small>{{firstNameError}}</small></div> -->
                                          <div class="valid-feedback">Entered Graduation Year looks good</div>
                                          <div class="invalid-feedback">Please enter your Graduation Year.</div>

                                        </div>


                                        <div class="form-group mt-4">
                                          <label class="form-control-label" for="reg_enterLinkedIn">LinkedIn Profile URL <abbr class="text-danger" title="This is required">*</abbr></label>
                                          <input type="text" class="form-control" (keyup)="OnLinkedIn($event)"  placeholder="LinkedIn URL" name="i1" id="reg_enterLinkedIn" required>
                                          
                                          <!-- <div class="text-danger"><small>{{enterLinkedInError}}</small></div> -->
                                          <div class="valid-feedback">LinkedIn Profile URL looks good</div>
                                          <div class="invalid-feedback">Please enter your LinkedIn Profile URL.</div>
                                        </div>                                      

                                        <div class="form-group mt-4">  
                                     
                                          <div class="form-check">
                                            
                                              <input type="checkbox" class="form-check-input"  (change)="validateInfoConfirm($event)" id="invalidCheck1" required> 
                                              <label class="form-check-label" for="invalidCheck1">I confirm that all the information provided here is correct.</label>

                                              <!-- <div class="text-danger"><small>{{errorMessage}}</small></div> -->
                                              <div class="valid-feedback">Confirmed</div>
                                              <div class="invalid-feedback">Please confirm by clicking Checkbox above.</div>                    

                                          </div>  
                                                                                                                               
                                        </div>
                                        <div class="text-danger"><small>{{errorMessage}}</small></div>                                        

                                        <!-- <div class="row justify-content-start mt-4">
                                          <div class="col">
                                            <div class="form-group">
                                              
                                            </div>

                                             <button type="button" class="btn btn-link font-weight-bold text-primary pl-0" (click)="open(mymodal)">Show privacy policy</button>

                                            <div class="form-group">
                                              <div class="form-check">                                    
                                                  <input type="checkbox" class="form-check-input"value="" id="invalidCheck2" (change)="validatePolicyConfirm($event)" required>
                                                  <label class="form-check-label" for="invalidCheck2">Please confirm that you agree to our privacy policy</label>
                                              </div>
                                            </div>
                            
                                          </div>
                                        </div> -->
                                        
                                        <div class="row align-items-center mt-4">
                                          <div class="col-sm-12 mt-2 text-center">                            
                                            <button type="submit" (click)="register()" class="btn btn-primary mt-6 btn-sm" id="btnSubmit">Register</button>
                                            <button class="btn btn-danger mt-6 btn-sm ml-2" onclick="history.back()">Cancel</button>  
                                          </div>
                                        </div>                 
                                        
                                      </form> 

                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>

                    </section>
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Register Section End -->

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Privacy Policy</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    We will update you this <b>Privacy Policy</b> shortly ..

    <br><br><br><br><br><br>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Ok</button>
  </div> -->
</ng-template>

<!-- overlaySpinner -->

<div id="overlaySpinner" *ngIf="visible">
  <div class="spinner"></div>
  <br/><p>Loading...</p>
</div>