
    <section class="bg-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-6">
            <div class="row">
              <div class="col text-center">
                <h2>Participant Registration</h2>
                <p class="text-h3">Please provide your information as accurate as possible.</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col mt-4">
                <input type="text" class="form-control" (keyup)="OnFullName($event)" placeholder="Full Name">
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                <input type="email" class="form-control" (keyup)="OnEmail($event)" laceholder="Email">
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col mt-4">
                <input type="number" class="form-control" (keyup)="OnPhoneNumber($event)" placeholder="Mobile Number">
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                <input type="password" class="form-control" (keyup)="OnPassword($event)" placeholder="Password">
              </div>
              <div class="col">
                <input type="password" class="form-control" placeholder="Confirm Password">
              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col">
                <div class="form-group">
                  <select class="form-control" #mySelect (change)='onOptionsSelected(mySelect.value)'>
                    <option value="" selected disabled hidden>Please Select School</option>
                    <option *ngFor='let option of dropDownData' [value]="option.id">{{option.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row justify-content-start mt-4">
              <div class="col">

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    I confirm that all the information provided here is correct.
                  </label>
                </div>

                <br>

                <a href="#" class="font-weight-bold">Show privacy policy</a>

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Please confirm that you agree to our privacy policy
                  </label>
                </div>

              </div>
            </div>
            <div class="row align-items-center mt-4">
              <div class="col-sm-12 mt-2 text-center">

                <button (click)="register()" class="btn btn-primary mt-6 btn-sm">Register</button>
                <button class="btn btn-danger mt-6 btn-sm" onclick="history.back()">Cancel</button>
                <hr>                

              </div>
             </div>

             <div class="row align-items-center">
              <div class="col-sm-12 text-center">
                <span class="font-weight-bold mr-2">Already Registered</span>
                <div *ngIf="isBuyTicketFlow; else notTicketFlow">
                  <button class="btn btn-primary mt-6 btn-sm" (click)="auth.login('/checkout')">Login</button>
                </div>
                <ng-template #notTicketFlow>
                  <button class="btn btn-primary mt-6 btn-sm" (click)="auth.login()">Login</button>
                </ng-template>
               </div>
              </div>

          </div>
        </div>
      </div>
    </section>



